@model FDI.Simple.ModelProductBrandItem
@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutNew.cshtml";
}
<script type="text/javascript">
    urlPostRatingAction = '@Url.Action("Actions", "ProductRating")';
    urlEditRating = '@Url.Action("AjaxForm", "ProductRating")';

    urlLists = '@Url.Action("ListItems", "Product")';
    urlForm = '@Url.Action("AjaxForm", "Product")';
    urlPostAction = '@Url.Action("Actions", "Product")';
    urlView = '@Url.Action("AjaxView", "Product")';
    formWidth = 960;
    formHeight = $(window).height() - 24;
    viewWidth = 960;
    viewHeight = $(window).height() - 24;
    $(document).ready(function () {
        initAjaxLoad(urlLists, "#NewsGriditems");
        //initAjaxLoad(urlLists, "#NewsGriditems", function () {
        //    $('.gridView a.edit').unbind();
        //});

        $("#gridSearch").submit(function () {
            var form = $("#gridSearch");
            window.location.href = '#' + getValueFormMutilSelect(form);
            return false;
        });

        $("#btn_add").click(function () {
            $("#dialog-form").dialog(
                {
                    title: "Thêm mới sản phẩm",
                    width: formWidth,
                    height: formHeight
                }
            ).load(encodeURI(urlForm + "?do=Add")).dialog("open");
            return false;
        });

        $(document).on('click', ".gridView a.edit", function () {
            var titleDiag = $(this).attr("title");
            if (titleDiag == '')
                titleDiag = 'Sửa thông tin bản ghi';

            var urlRequest = '';
            if (urlForm.indexOf('?') > 0)
                urlRequest = urlForm + '&do=edit&ItemId=' + $(this).attr("href").substring(1);
            else
                urlRequest = urlForm + '?do=edit&ItemId=' + $(this).attr("href").substring(1);

            $.post(urlRequest, function (data) {
                $("#dialog-form").html(data).dialog({
                    title: titleDiag,
                    resizable: true,
                    height: formHeight,
                    width: formWidth,
                    modal: true
                }).dialog("open");
            });
            return false;
        });

        $(document).on('click', '.btnAdd-roductVariant', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var title = $(this).data('title');

            $.post("@Url.Action("AjaxForm", "ProductVariant")?do=add", function (data) {
                $("#dialog-form").html(data).dialog({
                    title: title,
                    resizable: true,
                    height: formHeight,
                    width: formWidth,
                    modal: true
                }).dialog("open");
            }).complete(function () {
                $('#ProductID').val(id).prop('selected', true);
            });

        });

        $(document).on('click', '.attribute-product', function (e) {
            e.preventDefault();
            var productName = $(this).data('name');
            var productId = $(this).data('id');
            var productTypeId = $(this).data('type');

            $.post("@Url.Action("ProductAttribute", "Product")", { productId: productId, productTypeId: productTypeId }, function (data) {
                $("#dialog-form").html(data).dialog({
                    title: 'Thông số kỹ thuật: ' + productName,
                    resizable: true,
                    height: formHeight,
                    width: formWidth,
                    modal: true
                }).dialog("open");
            }).complete(function () {

            });

        });

        $(document).on('click', '.gallery-product', function (e) {
            e.preventDefault();
            var productName = $(this).data('name');
            var productId = $(this).data('id');

            $.post("@Url.Action("ProductImages", "Product")", { productId: productId }, function (data) {
                $("#dialog-form").html(data).dialog({
                    title: 'Hình ảnh sản phẩm: ' + productName,
                    resizable: true,
                    height: formHeight,
                    width: formWidth,
                    modal: true
                }).dialog("open");
            }).complete(function () {
                $("#tabs").tabs();
                $(".add-images a").unbind().click(function (e) {
                    e.preventDefault();
                    var _container = $(this).data('container');
                    selectPicture("/Admin/GalleryPictureSelect/?MutilFile=false&Container=" + _container);
                });
            });
        });

        $(document).on('click', '#PictureGriditems .check', function () {
            if ($(this).is(':checked')) {
                var _parent = $('.tabs-images .ui-tabs-panel').not('.ui-tabs-hide').find('table');
                _parent.append("<tr data-id='" + $(this).parent().parent().attr("id") + "'>" + $(this).parent().parent().html() + "</tr>");
                _parent.find('tr td.act_roles').html('<a href="#"><img src="/Content/Admin/images/gridview/delete.gif" alt="Delete" /></a>');
            }
        });

        $(document).on('click', '.grid-images .delete a', function (e) {
            e.preventDefault();
            $(this).parent().parent().remove();
        });

        $(document).on('click', '.delete-group-attr', function (e) {
            e.preventDefault();
            var _self = $(this);
            var groupId = $(this).data('id');
            $.post('/Admin/Product/DeleteGroupAttribute', { groupId: groupId }, function (data) {
                _self.closest('tr').remove();
            });
        });

        $(document).on('click', '.delete-attr', function (e) {
            e.preventDefault();
            var _self = $(this);
            var attrId = $(this).data('id');
            $.post('/Admin/Product/DeleteAttribute', { attrId: attrId }, function (data) {
                _self.closest('tr').remove();
            });
        });

        $(document).on('click', '.f-action a', function (e) {
            e.preventDefault();
            var urlPost = '';
            var pId = $(this).attr('data-productId');
            var parent = $(this).parent().parent();
            var listId = new Array();
            parent.find('table tr').each(function (i) {
                listId.push($(this).data('id'));
            });

            if ($(this).hasClass('save-image360'))
                urlPost = '@Url.Action("AddImagesSlide360", "Product")';
            if ($(this).hasClass('save-imageDefault'))
                urlPost = '@Url.Action("AddImagesDefault", "Product")';
            if ($(this).hasClass('save-imageGallery'))
                urlPost = '@Url.Action("AddImagesGallery", "Product")';
            if ($(this).hasClass('save-imageEnjoy'))
                urlPost = '@Url.Action("AddImagesEnjoy", "Product")';

            $.post(urlPost, { productId: pId, listImage: listId.toString() }, function (data) {
            });
        });

        $(document).on('focus', '.txtNameSpec', function () {
            $('.result-autocomplte ul').html('');
        });

        $(document).on('keyup', '.txtNameSpec', function (e) {
            e.preventDefault();
            var parent = $(this).parent();
            var attribute = $(this).data('attr');
            var name = $(this).val();

            @*$.post("@Url.Action("AutoCompleteByAttribute", "ProductAttributeSpecification")", { attribute: attribute, name: name }, function (data) {
                $('.result-autocomplte ul').html('');
                $.each(data, function (i, v) {
                    parent.find('.result-autocomplte ul').append('<li data-id="' + v.ID + '">' + v.Name + '</li>');
                });
            });*@
        });

        $(document).on('click', '.result-autocomplte ul li', function (e) {
            e.preventDefault();
            var parent = $(this).parent().parent().parent();
            parent.find('.txtNameSpec').attr({
                'data-spec': $(this).data('id'),
                readonly: ''
            });
            parent.find('.txtNameSpec').val($(this).text());
            parent.find('.attr-action .attr-action-eraser').removeClass('hide').addClass('show');
            $(this).parent().html('');
        });

        $(document).on('click', '.attr-action-success', function (e) {
            e.preventDefault();
            var parent = $(this).parent().parent();
            var productId = $(this).data('product');
            var nameSpec = parent.find('.txtNameSpec').val();
            var attribute = parent.find('.txtNameSpec').attr('data-attr');
            var attributeSpec = parent.find('.txtNameSpec').attr('data-spec');
            if (typeof attributeSpec == 'undefined' && nameSpec == '') {
                alert('Bạn cần nhập thông tin');
            } else {
                if (typeof attributeSpec == 'undefined') {
                   @* $.post("@Url.Action("InsertAddAttributeSpecMap", "ProductAttributeSpecification")", { productId: productId, attribute: attribute, nameSpec: nameSpec }, function (data) {
                        if (data.check) {
                            parent.find('.attr-action .attr-action-delete').removeClass('hide').addClass('show').attr('data-spec', data.attrSpecId);
                            parent.find('.attr-action .attr-action-success').removeClass('show').addClass('hide');
                            parent.find('.attr-action .attr-action-eraser').removeClass('show').addClass('hide');
                            parent.find('.attr-text').text(nameSpec).show();
                            parent.find('.txtNameSpec').removeClass('block').addClass('hide').removeAttr('data-spec readonly').val('');
                        }
                    });*@
                } else {
                   @* $.post("@Url.Action("AddAttributeSpecMap", "ProductAttributeSpecification")", { productId: productId, attributeSpec: attributeSpec }, function (data) {
                        if (data) {
                            checkStatus = data;
                            parent.find('.attr-action .attr-action-delete').removeClass('hide').addClass('show').attr('data-spec', attributeSpec);
                            parent.find('.attr-action .attr-action-success').removeClass('show').addClass('hide');
                            parent.find('.attr-action .attr-action-eraser').removeClass('show').addClass('hide');
                            parent.find('.attr-text').text(nameSpec).show();
                            parent.find('.txtNameSpec').removeClass('block').addClass('hide').removeAttr('data-spec readonly').val('');
                        }
                    });*@
                }
            }
        });

        $(document).on('click', '.attr-action-delete', function (e) {
            e.preventDefault();
            var parent = $(this).parent().parent();
            var productId = $(this).data('product');
            var attributeSpec = $(this).attr('data-spec');
            @*$.post("@Url.Action("DeleteAttributeSpecMap", "ProductAttributeSpecification")", { productId: productId, attributeSpec: attributeSpec }, function (data) {
                if (data) {
                    parent.find('.attr-action .attr-action-success').removeClass('hide').addClass('show');
                    parent.find('.attr-action .attr-action-delete').removeClass('show').addClass('hide');
                    parent.find('.attr-text').hide();
                    parent.find('.txtNameSpec').removeClass('hide').addClass('block');
                }
            });*@
        });

        $(document).on('click', '.attr-action-eraser', function (e) {
            e.preventDefault();
            $(this).parent().parent().find('.txtNameSpec').removeAttr('data-spec readonly').val('');
            $(this).removeClass('show').addClass('hide');
        });

        $(document).on('keyup', '.autoNameAscii', function (e) {
            e.preventDefault();
            $('#NameAscii').val(RemoveUnicode($(this).val()));
        });


        $(document).on('click', '.ref-product', function (e) {
            e.preventDefault();
            var productName = $(this).data('name');
            var productId = $(this).data('id');

            $.post("@Url.Action("ProductRef", "Product")", { productId: productId }, function (data) {
                $("#dialog-form").html(data).dialog({
                    title: 'Sản phẩm liên quan của: ' + productName,
                    resizable: true,
                    height: formHeight,
                    width: formWidth,
                    modal: true
                }).dialog("open");
            }).complete(function () {
                $(".brand-ref, .productType-ref").multiSelect({ selectAll: false, chooseOne: true });
            });
        });

        $(document).on('keyup', '.autocomplete-ref', function (e) {
            e.preventDefault();
            var name = $(this).val();
            var brand = $('.brand-ref').val();
            var productType = $('.productType-ref').val();
            var parent = $(this).parent().css({ 'position': 'relative' });
            $.get("@Url.Action("AutoCompleteRefProduct", "Product")", { name: name, brand: brand, productType: productType }, function (data) {
                $('.result-autocomplte ul').html('');
                $.each(data, function (i, v) {
                    parent.find('.result-autocomplte ul').append('<li class="auto-ref-item" data-id="' + v.ID + '">' + v.Name + '</li>');
                });
            });
        });

        $(document).on('click', '.result-autocomplte ul li.auto-ref-item', function (e) {
            e.preventDefault();

            var productName = $(this).text();
            var mainProduct = $('.main-product-ref').val();
            var productRef = $(this).attr('data-id');

            if ($('.list-product-ref tr[data-id="' + productRef + '"]').size() > 0) {
                alert('Đã có sản phẩm trong danh sách');
            } else {
                $.post("@Url.Action("AddProductRef", "Product")", { mainProduct: mainProduct, productRef: productRef }, function (data) {
                    $('.result-autocomplte ul').html('');
                    $('.list-product-ref').append('' +
                        '<tr data-id="' + productRef + '" title="' + productName + '">' +
                        '<td>' + data.id + '</td>' +
                        '<td>' + productName + '</td>' +
                        '<td><a href="#" class="delete-ref-product" data-id="' + data.id + '" title="Xóa: ' + productName + '">' +
                        '<img src="/Content/Admin/images/gridview/delete.gif" border="0"></a>' +
                        '</td>' +
                        '</tr>');
                });
            }
        });

        $(document).on('click', '.delete-ref-product', function (e) {
            e.preventDefault();

            var _self = $(this);
            var id = $(this).attr('data-id');

            $.post("@Url.Action("DeleteProductRef", "Product")", { id: id }, function (data) {
                _self.parent().parent().remove();
            });

        });

        $(document).on('click', '.accessories-product', function (e) {
            e.preventDefault();
            var productName = $(this).data('name');
            var productId = $(this).data('id');

            $.post("@Url.Action("ProductAccessories", "Product")", { productId: productId }, function (data) {
                $("#dialog-form").html(data).dialog({
                    title: 'Phụ kiện của: ' + productName,
                    resizable: true,
                    height: formHeight,
                    width: formWidth,
                    modal: true
                }).dialog("open");
            }).complete(function () {
                $(".brand-accessory, .productType-accessory").multiSelect({ selectAll: false, chooseOne: true });
            });
        });

        $(document).on('keyup', '.autocomplete-accessory', function (e) {
            e.preventDefault();
            var name = $(this).val();
            var brand = $('.brand-accessory').val();
            var productType = $('.productType-accessory').val();
            var parent = $(this).parent().css({ 'position': 'relative' });
            $.get("@Url.Action("AutoCompleteRefProduct", "Product")", { name: name, brand: brand, productType: productType }, function (data) {
                $('.result-autocomplte ul').html('');
                $.each(data, function (i, v) {
                    parent.find('.result-autocomplte ul').append('<li class="auto-accessory-item" data-id="' + v.ID + '">' + v.Name + '</li>');
                });
            });
        });

        $(document).on('click', '.result-autocomplte ul li.auto-accessory-item', function (e) {
            e.preventDefault();

            var productName = $(this).text();
            var mainProduct = $('.main-product-accessory').val();
            var productAccessory = $(this).attr('data-id');

            if ($('.list-product-accessory tr[data-id="' + productAccessory + '"]').size() > 0) {
                alert('Đã có sản phẩm trong danh sách phụ kiện');
            }
            else {
                $.post("@Url.Action("AddProductAccessory", "Product")", { mainProduct: mainProduct, productAccessory: productAccessory }, function (data) {
                    $('.result-autocomplte ul').html('');
                    $('.list-product-accessory').append('' +
                        '<tr data-id="' + productAccessory + '" title="' + productName + '">' +
                        '<td>' + data.id + '</td>' +
                        '<td>' + productName + '</td>' +
                        '<td><a href="#" class="delete-accessory-product" data-id="' + data.id + '" title="Xóa: ' + productName + '">' +
                        '<img src="/Content/Admin/images/gridview/delete.gif" border="0"></a>' +
                        '</td>' +
                        '</tr>');
                });
            }
        });

        $(document).on('click', '.delete-accessory-product', function (e) {
            e.preventDefault();

            var _self = $(this);
            var id = $(this).attr('data-id');

            $.post("@Url.Action("DeleteProductAccessory", "Product")", { id: id }, function (data) {
                _self.parent().parent().remove();
            });

        });

        $(document).on('mouseleave', '.result-autocomplte', function (e) {
            $(this).find('ul').html('');
        });

        $(document).on('click', '.gridView .off-edit', function (e) {
            e.preventDefault();
            var contentDialog = $(this).closest('tr').attr('title');
            $("#dialog-form").html(contentDialog).dialog({
                title: 'Thông báo',
                resizable: true,
                height: 'auto',
                width: 'auto',
                modal: true,
                buttons: {
                    "Đóng cửa sổ": function () {
                        $(this).html("").dialog("close");
                        $("div.ui-dialog-buttonpane").remove();
                    }
                }
            }).dialog("open");
        });

        $("select.mutil").multiSelect({ oneOrMoreSelected: '*', selectAllText: '<b>Tất cả</b>', optGroupSelectable: true });
        $("#BrandID, #ProductTypeID").multiSelect({ selectAll: false, chooseOne: true });
    });

    function LoadEditingProduct() {
        if ($.connection.hub.state == $.signalR.connectionState.connected) {
            productHub.server.getAllEditingProduct('@Context.User.Identity.Name');
        }
        if ($.connection.hub.state == $.signalR.connectionState.disconnected) {
            setTimeout(function () {
                LoadEditingProduct();
            }, 1000);
        }
    }

    function DisableEditingProduct() {
        if ($.connection.hub.state == $.signalR.connectionState.connected) {
            productHub.server.disableProduct($('#ItemID').val(), '@Context.User.Identity.Name');
        }
        if ($.connection.hub.state != $.signalR.connectionState.connected) {
            setTimeout(function () {
                DisableEditingProduct();
            }, 1000);
        }
    }
</script>
<style type="text/css">
    .opacity-row td {
        background: #FC3333 !important;
    }
</style>

<section id="content">
    <section class="hbox stretch">
        <aside>
            <section class="vbox">
                <header class="header bg-white b-b clearfix header-posittion">
                    <ul class="breadcrumb no-border no-radius b-b b-light m-l-15x m-r-15x">
                        <li><a href="/Admin/Admin"><i class="fa fa-home"></i>Home</a></li>
                        <li class="active">Quản lý sản phẩm</li>
                    </ul>
                    <div class="row m-t-sm">
                        <div class="col-sm-11 m-b-xs">
                            <form id="gridSearch" class="form-inline" role="form">
                                <div class="form-group">
                                    <label class="sr-only" for="Keyword">Từ khóa tìm kiếm</label>
                                    <input type="text" class="form-control input-sm" id="Keyword" name="Keyword" placeholder="Từ khóa tìm kiếm">
                                </div>
                                <div class="form-group">
                                    <select name="SearchIn" id="SearchIn" class="form-control input-sm mutil">
                                        <option value="Name">Tên sản phẩm</option>
                                        <option value="Description">Mô tả</option>
                                    </select>
                                </div>
                                <button name="submit.Search" type="submit" class="btn btn-sm btn-success">Tìm kiếm</button>
                                <button type="button" class="btn btn-sm btn-success more-search">Tìm kiếm nâng cao</button>
                                <div class="advance-search">
                                    <table>
                                        <tr>
                                            <td>
                                                <label>Thương hiệu</label>
                                            </td>
                                            <td>
                                                <select name="BrandID" id="BrandID" style="width: 150px;">
                                                    <option value="0">Thương hiệu (Tất cả)</option>
                                                    @foreach (var item in Model.ListItem)
                                                    { 
                                                        <option value="@item.ID">@item.Name</option>
                                                    }
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Loại sản phẩm</label>
                                            </td>
                                            <td>
                                                <select name="ProductTypeID" id="ProductTypeID" style="width: 150px;">
                                                    <option value="0">Loại sản phẩm (Tất cả)</option>
                                                    @foreach (var item in Model.ListProductTypeItem)
                                                    { 
                                                        <option value="@item.ID">@item.Name</option>
                                                    }
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td>
                                                <button name="submit.Search" type="submit">Tìm kiếm</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-1 m-b-xs">
                            @if (Model.SystemActionItem.Add)
                            {
                                @Html.ActionLink("Thêm mới", "Actions", new { }, new { @class = "btn btn-sm btn-success", @id = "btn_add" })
                            }
                        </div>
                    </div>
                </header>
                <section id="NewsGriditems" class="m-t-lg">
                </section>
            </section>
        </aside>
    </section>
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
</section>


