@{
    ViewBag.Title = "Quản lý bình luận";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutNew.cshtml";
}
<script type="text/javascript">

    urlLists = '@Url.Action("ListItems", "NewsComment")';
    urlForm = '@Url.Action("AjaxForm", "NewsComment")';
    urlPostAction = '@Url.Action("Actions", "NewsComment")';
    urlView = '@Url.Action("AjaxView", "NewsComment")';

    formWidth = 960;
    formHeight = $(window).height() - 24;
    viewWidth = 960;
    viewHeight = $(window).height() - 24;

    $(document).ready(function () {
        $("#StartDate").datepicker({
            dateFormat: 'dd/mm/yy',

            onClose: function (selectedDate) {
                $("#EndDate").datepicker("option", "minDate", selectedDate);
            }
        });

        $('#StartTime').timepicker({
            'timeFormat': 'H:i:s',
            'disableTimeRanges': [
                ['24:00:00', '24:30:00']

            ]
        });

        $("#EndDate").datepicker({
            dateFormat: 'dd/mm/yy',
            onClose: function (selectedDate) {
                $("#StartDate").datepicker("option", "maxDate", selectedDate);
            }
        });
        $('#EndTime').timepicker({ 'timeFormat': 'H:i:s' });
        initAjaxLoad(urlLists, "#NewsGriditems");
        $("select.mutil").multiSelect({ oneOrMoreSelected: '*', selectAllText: '<b>Tất cả</b>', optGroupSelectable: true });
        $("#gridSearch").submit(function () {
            var form = $("#gridSearch");
            window.location.href = '#' + getValueFormMutilSelect(form);
            return false;
        });
        $("select.mutil").multiSelect({ oneOrMoreSelected: '*', selectAllText: '<b>Tất cả</b>', optGroupSelectable: true });
        $("#btn_add").click(function () {
            $("#dialog-form").dialog(
                {
                    title: "Thêm mới bình luận",
                    width: formWidth,
                    height: formHeight
                }
            ).load(encodeURI(urlForm + "?do=Add")).dialog("open");
            return false;
        });

        createAutoTag('EmailCustomer', '@Url.Action("AutoCustomer", "ShopComment")');
    });
</script>
<section id="content">
    <section class="hbox stretch">
        <aside>
            <section class="vbox">
                <header class="header bg-white b-b clearfix">
                    <ul class="breadcrumb no-border no-radius b-b b-light m-l-15x m-r-15x">
                        <li><a href="/Admin/Admin"><i class="fa fa-home"></i>Home</a></li>
                        <li class="active">Quản lý bình luận</li>
                    </ul>
                    <div class="row m-t-sm">
                        <div class="col-sm-11 m-b-xs">
                            <form id="gridSearch" class="form-inline" role="form">
                                <table>
                                    <tr>
                                        <td>
                                            <label>Từ Ngày:</label>
                                        </td>
                                        <td>
                                            <input class="date" type="text" name="FromDate" id="StartDate" />
                                        </td>
                                        <td>
                                            <label>Đến ngày:</label>
                                        </td>
                                        <td>
                                            <input class="date" type="text" name="ToDate" id="EndDate" />
                                        </td>
                                        <td>
                                            <label for="Keyword">Email:</label>
                                        </td>
                                        <td colspan="2">
                                            <input id="EmailCustomer" name="EmailCustomer" type="text" class="text keyword" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Từ giờ:</label>
                                        </td>
                                        <td>
                                            <input class="time" type="text" name="FromTime" id="StartTime" />
                                        </td>
                                        <td>
                                            <label>Đến giờ:</label>
                                        </td>
                                        <td>
                                            <input class="time" type="text" name="ToTime" id="EndTime" />
                                        </td>
                                        <td>
                                            <label>Tên sản phẩm:</label>
                                        </td>
                                        <td>
                                            <input type="text" name="ProductName" id="ProductName" />
                                        </td>
                                        <td style="padding-left: 10px">
                                            <button name="submit.Search" type="submit" class="btn btn-sm btn-success">Tìm kiếm</button>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <div class="col-sm-1 m-b-xs">
                            @if (ViewBag.Add)
                            {
                                @Html.ActionLink("Thêm mới", "Actions", new { }, new { @class = "btn btn-sm btn-success", @id = "btn_add" })
                            }
                        </div>
                    </div>
                </header>
                <section id="NewsGriditems" class="m-t-lg" style="top: 90px">
                </section>

            </section>
        </aside>
    </section>
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
</section>
