@helper ActionSort(int ID, string Title)
{
    <a href="#@ID" class="sort" title="Sắp xếp: @Title" >
        <img src="/Content/Admin/images/gridview/sort.gif" border="0" /></a>
}

@helper ActionDownload(string FileUrl, string Title)
{
    <a href="@FileUrl" class="download" title="Tài file : @Title" >
        <img src="/Content/Admin/images/gridview/download.gif" border="0" /></a>
}
@helper ActionView(int ID, string Title)
{
    <a href="#@ID" class="view btn btn-sm btn-default" title="Xem nhanh: @Title"><i class="fa fa-eye"></i></a> 
}

@helper ActionView(long ID, string Title)
{
    <a href="#@ID" class="view" title="Xem chi tiết: @Title" >
        <img src="/Content/Admin/images/gridview/view.gif" border="0" /></a>
}

@helper ActionViewOrder(string urlDetail, string Title)
{
    <a href="@urlDetail" title="Xem chi tiết đơn hàng: @Title" >
        <img src="/Content/Admin/images/gridview/view.gif" border="0" /></a>
}

@helper ActionAdd(int ID, string Title)
{
    <a href="#@ID" class="addNoD" title="Chỉnh sửa: @Title">
        <img src="/Content/Admin/images/gridview/add.gif" border="0" /></a>
}

@helper ActionAdd(long ID, string Title)
{
    <a href="#@ID" class="addNoD" title="Chỉnh sửa: @Title">
        <img src="/Content/Admin/images/gridview/add.gif" border="0" /></a>
}

@helper ActionView(long ID, string Title, string Class)
{
    <a href="#@ID" class="@Class" title="Xem chi tiết: @Title" >
        <img src="/Content/Admin/images/gridview/view.gif" border="0" /></a>
}

@helper ActionEdit(int ID, string Title)
{
    <a href="#@ID" class="edit btn btn-sm btn-default" title="Chỉnh sửa: @Title"><i class="fa fa-edit"></i></a>
}

@helper ActionViewModule(Guid ID, string Title)
{
    <a href="#@ID" class="edit" title="Những Module quản lý: @Title">
        <img src="/Content/Admin/images/gridview/show.gif" border="0" /></a>
}

@helper ActionEdit(long ID, string Title)
{
    <a href="#@ID" class="edit" title="Chỉnh sửa: @Title">
        <img src="/Content/Admin/images/gridview/edit.gif" border="0" /></a>
}
@helper ActionActive(int ID, string Title)
{
    <a href="#@ID" class="active" title="Duyệt: @Title">
        <img src="/Content/Admin/images/gridview/show.gif" border="0" /></a>
}

@helper ActionActive(long ID, string Title)
{
    <a href="#@ID" class="active" title="Duyệt: @Title">
        <img src="/Content/Admin/images/gridview/show.gif" border="0" /></a>
}
@helper ActionAssign(int ID)
{
    <a href="#@ID" class="assign" title="Gán: @ID">
        <img src="/Content/Admin/images/gridview/show.gif" border="0" /></a>
}

@helper ActionAssign(long ID)
{
    <a href="#" class="assign" title="Gán: @ID" key="@ID">
        <img src="/Content/Admin/images/gridview/show.gif" border="0" /></a>
}
@helper ActionDelete(int ID, string Title)
{
    <a href="#@ID" class="delete btn btn-sm btn-default" title="Xóa: @Title"><i class="fa fa-trash-o"></i></a> 
}

@helper ActionDelete(long ID, string Title)
{
    <a href="#@ID" class="delete" title="Xóa: @Title">
        <img src="/Content/Admin/images/gridview/delete.gif" border="0" /></a>
}

@helper ActionHide(int ID, string Title)
{
    <a href="#@ID" class="hide" title="Ẩn: @Title">
        <img src="/Content/Admin/images/gridview/hide.gif" border="0" /></a>
}

@helper ActionHide(long ID, string Title)
{
    <a href="#@ID" class="hide" title="Ẩn: @Title">
        <img src="/Content/Admin/images/gridview/hide.gif" border="0" /></a>
}

@helper ActionHide(int ID, string Title, bool disabled)
{
    if (disabled)
    {
    <a href="javascript:createMessage('Thông báo', '@Title đang được ẩn rồi.!');" title="@Title đang được ẩn">
        <img src="/Content/Admin/images/gridview/hide.gif" border="0" /></a>
    }
    else
    { 
    <a href="#@ID" class="hide" title="Ẩn: @Title">
        <img src="/Content/Admin/images/gridview/hide.gif" border="0" /></a>
    }
}

@helper ActionShow(int ID, string Title)
{
    <a href="#@ID" class="show" title="Hiển thị: @Title">
        <img src="/Content/Admin/images/gridview/show.gif" border="0" /></a>
}

@helper ActionShow(long ID, string Title)
{
    <a href="#@ID" class="show" title="Hiển thị: @Title">
        <img src="/Content/Admin/images/gridview/show.gif" border="0" /></a>
}

@helper ActionShow(int ID, string Title, bool disabled)
{
    if (disabled)
    {
    <a href="javascript:createMessage('Thông báo', '@Title đang được hiển thị rồi.!');" title="@Title đang được hiển thị">
        <img src="/Content/Admin/images/gridview/show.gif" border="0" /></a>
    }
    else
    { 
    <a href="#@ID" class="show" title="Hiển thị: @Title">
        <img src="/Content/Admin/images/gridview/show.gif" border="0" /></a>
    }
}

@helper DisplayShow(string Title, bool Status)
{
    if (Status)
    { 
    <img src="/Content/Admin/images/gridview/approved.gif" border="0" title="@Title đang hiển thị" />
    }
    else
    { 
    <img src="/Content/Admin/images/gridview/pending.gif" border="0" title="@Title đang ẩn" />
    }
}

@helper ActionSortGroup(int ID, string Title)
{
    <a href="#@ID" class="sort_group" title="Sắp xếp nhóm: @Title" >
        <img src="/Content/Admin/images/gridview/sort.gif" border="0" /></a>
}

@helper ActionViewGroup(int ID, string Title)
{
    <a href="#@ID" class="view_group" title="Xem chi tiết nhóm: @Title" >
        <img src="/Content/Admin/images/gridview/view.gif" border="0" /></a>
}

@helper ActionEditGroup(int ID, string Title)
{
    <a href="#@ID" class="edit_group" title="Chỉnh sửa nhóm: @Title">
        <img src="/Content/Admin/images/gridview/edit.gif" border="0" /></a>
}

@helper ActionDeleteGroup(int ID, string Title)
{
    <a href="#@ID" class="delete_group" title="Xóa nhóm: @Title">
        <img src="/Content/Admin/images/gridview/delete.gif" border="0" /></a>
}

@helper ActionHideGroup(int ID, string Title)
{
    <a href="#@ID" class="hide_group" title="Ẩn nhóm: @Title">
        <img src="/Content/Admin/images/gridview/hide.gif" border="0" /></a>
}

@helper ActionHideGroup(int ID, string Title, bool disabled)
{
    if (disabled)
    {
    <a href="javascript:createMessage('Thông báo', '@Title đang được ẩn rồi.!');" title="@Title đang được ẩn">
        <img src="/Content/Admin/images/gridview/hide.gif" border="0" /></a>
    }
    else
    { 
    <a href="#@ID" class="hide_group" title="Ẩn nhóm: @Title">
        <img src="/Content/Admin/images/gridview/hide.gif" border="0" /></a>
    }
}

@helper ActionShowGroup(int ID, string Title)
{
    <a href="#@ID" class="show_group" title="Hiển thị nhóm: @Title">
        <img src="/Content/Admin/images/gridview/show.gif" border="0" /></a>
}

@helper ActionShowGroup(int ID, string Title, bool disabled)
{
    if (disabled)
    {
    <a href="javascript:createMessage('Thông báo', '@Title đang được hiển thị rồi.!');" title="@Title đang được hiển thị">
        <img src="/Content/Admin/images/gridview/show.gif" border="0" /></a>
    }
    else
    { 
    <a href="#@ID" class="show_group" title="Hiển thị nhóm: @Title">
        <img src="/Content/Admin/images/gridview/show.gif" border="0" /></a>
    }
}

@helper ActionAddGroup(int ID, string Title)
{
    <a href="#@ID" class="add_group" title="Thêm mới cho nhóm: @Title">
        <img src="/Content/Admin/images/gridview/add.gif" border="0" /></a>
}

@helper DisplayShowStrike(string Title, bool IsShow)
{
    if (IsShow)
    {
    @Title
    }
    else
    {
    <strike>@Title</strike>
    }
}

@*BienLV 07-11-2013*@
@helper ActionHistory(int ID, string Title)
{
    <a href="#@ID" class="history" title="Xem lịch sử: @Title">
        <img src="/Content/Admin/images/gridview/history-icon.png" border="0" /></a>
}
@*BienLV 11-12-2013 Product of discount *@
@helper ActionProductDiscount(int ID, string Title, string url)
{
    <a href="#@ID" class="productofdiscount" title="Sản phẩm của giảm giá: @Title" data-url="@url">
        <img src="/Content/Admin/images/gridview/discount-product-icon.png" border="0" />
    </a>
}

@helper RoleModule(Guid ID, string Title)
{
    <a href="#@ID" class="RoleModule" title="Những Module quản lý: @Title">
        <img src="/Content/Admin/images/gridview/show.gif" border="0" /></a>
}

@helper ActionRoleA(Guid ID, string Title)
{
    <a href="#@ID" class="ActionRoleA" title="Gán tính năng cho: @Title">
        <img src="/Content/Admin/images/gridview/point-icon.png" border="0" /></a>
}

@helper ActionPoint(int ID, string Title)
{
    <a href="#@ID" class="point" title="Xem điểm khách hàng: @Title">
        <img src="/Content/Admin/images/gridview/point-icon.png" border="0" /></a>
}

@helper ActionProductRating(int ID, string Title)
{
    <a href="#@ID" class="rating" title="Đánh giá sản phẩm: @Title" >
        <img src="/Content/Admin/images/gridview/point-icon.png" border="0" /></a>
}

@*DongDt 22-11-2013*@
@helper ActionHistory(Guid ID, string Title)
{
    <a href="#@ID" class="history" title="Xem lịch sử: @Title">
        <img src="/Content/Admin/images/gridview/history-icon.png" border="0" /></a>
}
@helper ActionPoint(Guid ID, string Title)
{
    <a href="#@ID" class="point" title="Xem điểm khách hàng: @Title">
        <img src="/Content/Admin/images/gridview/point-icon.png" border="0" /></a>
}
@helper ActionView(Guid ID, string Title)
{
    <a href="#@ID" class="view" title="Xem chi tiết: @Title" >
        <img src="/Content/Admin/images/gridview/view.gif" border="0" /></a>
}
@helper ActionEdit(Guid ID, string Title)
{
    <a href="#@ID" class="edit" title="Chỉnh sửa: @Title">
        <img src="/Content/Admin/images/gridview/edit.gif" border="0" /></a>
}

@helper ActionShow(Guid ID, string Title)
{
    <a href="#@ID" class="show" title="Hiển thị: @Title">
        <img src="/Content/Admin/images/gridview/show.gif" border="0" /></a>
}

@helper ActionHide(Guid ID, string Title)
{
    <a href="#@ID" class="hide" title="Ẩn: @Title">
        <img src="/Content/Admin/images/gridview/hide.gif" border="0" /></a>
}


@helper ActionDelete(Guid ID, string Title)
{
    <a href="#@ID" class="delete" title="Xóa: @Title">
        <img src="/Content/Admin/images/gridview/delete.gif" border="0" /></a>
}

@helper ActionViewRole(Guid ID, string Title)
{
    <a href="#@ID" class="edit" title="Chỉnh sửa: @Title">
        <img src="/Content/Admin/images/gridview/edit.gif" border="0" /></a>
}