@{
    ViewBag.Title = "Quản lý điểm khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">

    var urlPostPointAction = '@Url.Action("Actions", "CustomerPoint")';
    urlLists = '@Url.Action("ListItems", "CustomerPoint")';
    urlForm = '@Url.Action("AjaxForm", "CustomerPoint")';
    urlPostAction = '@Url.Action("Actions", "CustomerPoint")';
   @*urlView = '@Url.Action("AjaxView", "CustomerPoint")';
   urlHistory = '@Url.Action("AjaxHistory", "CustomerPoint")';*@
    urlEditPoint = '@Url.Action("AjaxForm", "CustomerPoint")';
    formWidth = 960;
    formHeight = 650;
    viewWidth = 960;
    viewHeight = 650;

    $(document).ready(function () {
        $("#FromDate").datepicker({
            dateFormat: 'dd/mm/yy',
            onClose: function (selectedDate) {
                $("#ToDate").datepicker("option", "minDate", selectedDate);
            }
        });
        //$('#FromTime').timepicker({
        //    'timeFormat': 'H:i',
        //    'maxTime': '11:30pm',
        //    'step': 60
        //});
        $("#ToDate").datepicker({
            dateFormat: 'dd/mm/yy',
            onClose: function (selectedDate) {
                $("#FromDate").datepicker("option", "maxDate", selectedDate);
            }
        });
        //$('#ToTime').timepicker({
        //    'timeFormat': 'H:i',
        //    'maxTime': '11:30pm',
        //    'step': 60
        //});


        initAjaxLoad(urlLists, "#ActiveRoleGriditems");

        $("#gridSearch").submit(function () {
            var form = $("#gridSearch");
            window.location.href = '#' + getValueFormMutilSelect(form);
            return false;
        });

        $("#btn_add").click(function () {
            $("#dialog-form").dialog(
				{
				    title: "Thêm mới khách hàng",
				    width: formWidth,
				    height: formHeight
				}
			).load(encodeURI(urlForm + "?do=Add")).dialog("open");
            return false;
        });

        $("select.mutil").multiSelect({ oneOrMoreSelected: '*', selectAllText: '<b>Tất cả</b>', optGroupSelectable: true });
    });
</script>
<div class="zone zone-content">
    <h1>Quản lý phản hồi forum</h1>
    <div class="headear">
        <div class="searchbox">
        </div>

    </div>
    <div id="ActiveRoleGriditems">
    </div>
</div>
