@using FDI.Simple
@model IEnumerable<FDI.Simple.NewsItem>

<div class="col-sm-7 FDI-news wow bounceInLeft" data-wow-duration="2s">
    <h3 class="title"><a href="/tin-tuc">Tin tức - Sự kiện FDI</a></h3>
                      
    <div class="row news-top">
         @if (Model != null)
         {
             NewsItem obj = (from n in Model
                             select n).Take(1).SingleOrDefault();

            <div class="col-sm-5 news-img">
                <a class="images-one-news" href="@obj.TitleAscii" style="background-image: url('@FDI.Utility.GetUrlPictureMediums(obj.PictureUrl)')" title="@obj.Title"></a>
            </div>
            <div class="col-sm-7 news-top-text">
                <h4 class="title"><a href="@obj.TitleAscii">@obj.Title</a></h4>
                <ul class="blog-info">
                    <li><i class="fa fa-user"></i>@obj.UserNameCreate</li>
                    <li><i class="fa fa-calendar"></i>@Convert.ToDateTime(obj.DateCreated).ToString("dd/MM/yyyy")</li>
                </ul>
                <p>@FDI.Utils.MyString.Truncate(obj.Description,300)</p>
            </div>
         }
    </div>

    <div class="news-bottom">
        <div class="row"> 
            @if(Model != null)
            {
                var list = (from n in Model
                    select n).Skip(1).Take(4).ToList();

                foreach (var item in list)
                { 
                    <div class="col-xs-6 col-sm-3">
                        <a class="images-more-news" href="/@item.TitleAscii" style="background-image: url('@FDI.Utility.GetUrlPicture(item.PictureUrl)')" title="@item.Title"></a>
                        <a href="/@item.TitleAscii">@item.Title</a>
                    </div> 
                }
            }  
        </div>
    </div>
</div>
 