@model FDI.Simple.SystemActionItem
@{
    ViewBag.Title = "Quản lý danh mục sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutNew.cshtml";
}
<script type="text/javascript">

    urlLists = '@Url.Action("ListItems", "ProductCategory")';
    urlForm = '@Url.Action("AjaxForm", "ProductCategory")';
    urlSort = '@Url.Action("AjaxSort", "ProductCategory")';
    urlPostAction = '@Url.Action("Actions", "ProductCategory")';
    urlView = '@Url.Action("AjaxView", "ProductCategory")';
    formWidth = 960;
    formHeight = $(window).height() - 24;
    viewWidth = 960;
    viewHeight = $(window).height() - 24;

    $(document).ready(function () {
        initAjaxLoad(urlLists, "#NewsGriditems");

        $("#gridSearch").submit(function () {
            var form = $("#gridSearch");
            window.location.href = '#' + getValueFormMutilSelect(form);
            return false;
        });

        $("#btn_add").click(function () {
            $("#dialog-form").dialog(
				{
				    title: "Thêm mới category",
				    width: formWidth,
				    height: formHeight
				}
			).load(encodeURI(urlForm + "?do=Add")).dialog("open");
            return false;
        });

        $("select.mutil").multiSelect({ oneOrMoreSelected: '*', selectAllText: '<b>Tất cả</b>', optGroupSelectable: true });

        var urlSelectImage = "/Admin/GalleryPictureSelect/?MutilFile=true&Container=NewsImages";
        $("#selectImage").click(function () {
            $.post(urlSelectImage, function (data) {
                $("#dialog-form-2").dialog(
				{
				    title: "Chọn hình ảnh",
				    width: 960,
				    height: 600
				}
			).html(data).dialog("open");
                return false;
            });
        });
    });
</script>
<section id="content">
    <section class="hbox stretch">
        <aside>
            <section class="vbox">
                <header class="header bg-white b-b clearfix">
                    <ul class="breadcrumb no-border no-radius b-b b-light m-l-15x m-r-15x">
                        <li><a href="/Admin/Admin"><i class="fa fa-home"></i>Home</a></li>
                        <li class="active">Quản lý danh mục sản phẩm </li>
                    </ul>
                    <div class="row m-t-sm">
                        <div class="col-sm-11 m-b-xs">
                            <form id="gridSearch" class="form-inline" role="form">
                                <div class="form-group">
                                    <label class="sr-only" for="Keyword">Từ khóa tìm kiếm</label>
                                    <input type="text" class="form-control input-sm" id="Keyword" name="Keyword" placeholder="Từ khóa tìm kiếm">
                                </div>
                                <div class="form-group">
                                    <select name="SearchIn" id="SearchIn" class="form-control input-sm mutil">
                                        <option value="Name">Tên danh mục</option>
                                        <option value="MetaKeyword">Thẻ meta từ khóa</option>
                                    </select>
                                </div>
                                <button name="submit.Search" type="submit" class="btn btn-sm btn-success">Tìm kiếm</button>
                            </form>
                        </div>
                        <div class="col-sm-1 m-b-xs">
                            @if (Model.Add)
                            {
                                @Html.ActionLink("Thêm mới", "Actions", new { }, new { @class = "btn btn-sm btn-success", @id = "btn_add" })
                            }
                        </div>
                    </div>
                </header>
                <section id="NewsGriditems" class="m-t-lg">
                </section>

            </section>
        </aside>
    </section>
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
</section>
