@{
    ViewBag.Title = "AjaxFormPicture";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}
<script type="text/javascript">

    $(document).ready(function () {
        $("#closePictureUpdate").click(function () {
            $("#dialog-form-3").html("").dialog('close');
        });

        $("#GalleryPictureFormUpdate").validate({
            rules: {
            @{ int indexOfFile = 0;}
            @foreach (var fileObj in (List<FDI.Entities.FileObj>)ViewBag.FileArray) 
            {
                @Html.Raw("ImageName_" + indexOfFile + " : {required: true, minlength: 3, maxlength: 255},\r\n")
                @Html.Raw("ImageDescription_" + indexOfFile + " : {minlength: 3, maxlength: 500},\r\n")
                indexOfFile++;
            }
            ItemID: {required : true}
                
            },
            
            submitHandler: function () { //onSubmit
                $("#submitPictureUpdate").attr("disabled", "disabled");
                $.post(urlFormPictureSubmit, $("#GalleryPictureFormUpdate").serialize(), function (data) {
                    if (data.Erros)
                        createMessage("Đã có lỗi xảy ra", data.Message); // Tạo thông báo lỗi
                    else {
                        $("#dialog-form-3").dialog('close'); //Đóng form thêm mới - sửa
                        createCloseMessage("Thông báo", data.Message, '#Page=1&message=' + data.Message + '&temp=' + Math.floor(Math.random() * 11) + '');
                    }
                });
                return false;
            }
        });

    });
</script>

<form id="GalleryPictureFormUpdate">
    <input type="hidden" name="do" id="do" value="@ViewBag.Action"/>
    <input type="hidden" name="NumberOfImage" value="@(((List<FDI.Entities.FileObj>)ViewBag.FileArray).Count())"/>
    <div class="col-sm-12">
        <section class="panel panel-default">
            <header class="panel-heading font-bold">Cập nhật thông tin hình ảnh cho album.</header>
            <table class="table table-bordered">
                <tr>
                    <td>Chuyên mục ảnh</td>
                    <td>
                    
                        <select name="CategoryID" id="CategoryID" class="form-control">
                            <option value="0">Chọn chuyên mục</option>
                            @foreach (var item in ViewBag.PictureCategoryID)
                            { 
                                <option value="@item.ID"@((ViewBag.ID == item.ID) ? " selected" : string.Empty)> @item.Name</option>
                            }
                        </select>
                    
                    </td>    
                </tr>

                <tr>
                    <td>Album ảnh</td>
                    <td>
                     
                    
                        <select name="AlbumID" id="AlbumID" class="form-control">
                            <option value="0">Chọn album</option>
                            @foreach (var item in ViewBag.PictureAlbumID)
                            { 
                                <option value="@item.ID"@((ViewBag.ID == item.ID) ? " selected" : string.Empty)> @item.Name</option>
                            }
                        </select>
                    </td>    
                </tr>

                @{ indexOfFile = 0;}
                @foreach (var fileObj in (List<FDI.Entities.FileObj>)ViewBag.FileArray)
                {
                    <tr>
                        <td>
                            <img title="@fileObj.Name.Replace(fileObj.Type, "")" src="/Uploads@(fileObj.FilePath)" class="image" style="width:125px;"/>
                        </td>
                        <td>
                            <input class="form-control" class="ImageName" type="text" value="@fileObj.Name.Replace(fileObj.Type, "")" name="ImageName_@(indexOfFile)"/>
                            <input type="hidden" value="@fileObj.Name" name="ImageFile_@(indexOfFile)"/>
                            <input class="form-control" type="text" style="height: 50px" name="ImageDescription_@(indexOfFile)" id="ImageDescription_@(indexOfFile)"></input>
                            <input type="checkbox" value="True" hidden="true" name="ImageShow_@(indexOfFile)" checked />
                        </td>
                    </tr>
                 
                    indexOfFile++;
                }
                  
                <tr>
                    <td class="submit" colspan="2">
                        <button id="submitPictureUpdate" type="submit" class="btn btn-sm btn-success">Nhập ảnh vào hệ thống</button>
                        <button id="closePictureUpdate" type="button" class="btn btn-sm btn-success">Đóng lại</button>
                    </td>
                </tr>
            </table>
        </section>
    </div>

</form>
