@model FDI.Base.Gallery_Picture

@{
    ViewBag.Title = "Xem chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}


<div class="col-sm-12">
    <section class="panel panel-default">
        <header class="panel-heading font-bold">Thông tin về hình ảnh</header>
        <table class="table table-bordered">
            <tr>
                <td>
                    <label>Tên hình ảnh</label></td>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
            </tr>

            <tr>
                <td>
                    <label>Mô tả</label></td>
                <td>
                    @Html.Raw(Model.Description)
                </td>
            </tr>

            <tr>
                <td>
                    <label>Hình ảnh đại diện</label></td>
                <td>
                   <img src="@FDI.Utility.GetUrlPicture(Model.Folder + Model.Url)" class="img-responsive"/> 
                </td>
            </tr>

            <tr>
                <td>
                    <label>Chuyên mục thư viện</label></td>
                <td>
                    @((Model.CategoryID.HasValue) ? Model.Gallery_Category.Name : "...")
                </td>
            </tr>

            <tr>
                <td>
                    <label>Album ảnh</label></td>
                <td>
                    @((Model.AlbumID.HasValue) ? Model.Gallery_Album.Name : "...")
                </td>
            </tr>

            <tr>
                <td>
                    <label>Hiển thị</label></td>
                <td>
                    @Grid.DisplayShow(Model.Name, Model.IsShow)
                </td>
            </tr>

            <tr>
                <td>
                    <label>Ngày thêm</label></td>
                <td>
                    @Model.DateCreated.ToString("dd/MM/yyyy")
                </td>
            </tr>

            <tr>
                <td>
                    <label>Nhân viên thêm mới</label></td>
                <td>
                    @Model.CreateBy
                </td>
            </tr>

            <tr>
                <td>
                    <label>Nhân viên chỉnh sửa</label></td>
                <td>
                    @Model.UpdateBy
                </td>
            </tr>

        </table>
    </section>
</div>


