@model FDI.Base.Shop_Product_Type
@{
    ViewBag.Title = ViewBag.ActionText + " loại sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}
 
<script type="text/javascript">
    $(document).ready(function () {
        var urlSelectDefaultImage = "/Admin/GalleryPictureSelect/?MutilFile=false&Container=DefaultImages";
        $("#Button_DefaultImages").click(function () {
            selectPicture(urlSelectDefaultImage + "&ValuesSelected=" + $("#Value_DefaultImages").val());
        });

        createCKFider('ImagesUrl', 162);
        LoadCKEDITOR('Description', false);
        
        $("#NewsCategoryForm").validate({
            rules: {
                Name:
                {
                    required: true,
                    minlength: 3,
                    maxlength: 255
                }
            },
            submitHandler: function () { //onSubmit
                $.post(urlPostAction, $("#NewsCategoryForm").serialize(), function (data) {
                    if (data.Erros)
                        createMessage("Đã có lỗi xảy ra", data.Message); // Tạo thông báo lỗi
                    else {
                        $("#dialog-form").dialog('close'); //Đóng form thêm mới - sửa
                        createCloseMessage("Thông báo", data.Message, '#Page=1&itemId=' + data.ID + '&message=' + data.Message + '&temp=' + Math.floor(Math.random() * 11) + ''); // Tạo thông báo khi click đóng thì chuyển đến url đích
                    }
                });
                return false;
            }
        });

        $("#close").click(function () {
            $("#dialog-form").html("").dialog('close');
        });
    });
</script>

<div id="Order">
    <form id="NewsCategoryForm">
        <input type="hidden" name="do" id="do" value="@ViewBag.Action"/>
        <input type="hidden" name="itemID" id="itemID" value="@Model.ID"/>
    
        <fieldset class="forms">
            <table class="tableforms" cellspacing="1" width="100%">
                <tr>
                    <td style="width:100px;"><label>Tên chuyên mục</label></td>
                    <td>
                        <input type="text" name="Name" id="Name" value="@Model.Name"/>
                    </td>
                </tr>
                
                    <tr>
                <td><label>Hình ảnh đại diện</label></td>
                <td>
                    <button type="button" id="Button_DefaultImages">Chọn hỉnh ảnh đại diện</button>
                    <input type="hidden" name="Value_DefaultImages" id="Value_DefaultImages" value="@((Model.PictureID.HasValue) ? Model.PictureID.Value.ToString() : "")" />
                    <div id="Text_DefaultImages">
                    @if (Model.PictureID.HasValue)
                    {
                        <table class="gridView" cellspacing="1">
                            <tr title="@Model.Gallery_Picture.Name" id="@Model.Gallery_Picture.ID">
                                <td>@Model.Gallery_Picture.ID</td>
                                <td>
                                    @Gallery.DisplayImage(Model.Gallery_Picture.Url, 120)
                                </td>
                                <td>
                                    <p>Tên ảnh: <b>@Model.Gallery_Picture.Name</b></p>
                                    <p>Ngày tạo: <i>@Model.Gallery_Picture.DateCreated.ToString("dd/MM/yyyy hh:mm:ss tt")</i></p>
                                    <p>Album: <b>@((Model.Gallery_Picture.AlbumID.HasValue) ? Model.Gallery_Picture.Gallery_Album.Name : "")</b></p>
                                    <p>Chuyên mục: <b>@((Model.Gallery_Picture.CategoryID.HasValue) ? Model.Gallery_Picture.Gallery_Category.Name : "")</b></p>
                                </td>
                                <td>
                                    <button type="button" onclick="$(this).parent().parent().remove(); getValue('NewsDefaultImages'); return false;">Xóa</button>
                                </td>
                            </tr>
                        </table>
                    }
                    </div>
                </td>
            </tr>
               
                <tr>
                    <td><label>Kích hoạt</label></td>
                    <td>
                        <input type="checkbox" name="IsActived" id="IsActived" value="True" @((Model.IsActived == true) ? " checked" : string.Empty)/>
                    </td>
                </tr>
            
                <tr>
                    <td><label>Có kích thước</label></td>
                    <td>
                        <input type="checkbox" name="IsHasSize" id="IsHasSize" value="True" @((Model.IsHasSize == true) ? " checked" : string.Empty)/>
                    </td>
                </tr>

                <tr>
                    <td><label>Có trọng lượng</label></td>
                    <td>
                        <input type="checkbox" name="IsHasWeight" id="IsHasWeight" value="True" @((Model.IsHasWeight == true) ? " checked" : string.Empty)/>
                    </td>
                </tr>
            
               <tr>
                    <td><label>Có màu</label></td>
                    <td>
                        <input type="checkbox" name="IsHasColor" id="IsHasColor" value="True" @((Model.IsHasColor == true) ? " checked" : string.Empty)/>
                    </td>
                </tr>
            
               <tr>
                    <td><label>Có thương hiệu</label></td>
                    <td>
                        <input type="checkbox" name="IsHasBrand" id="IsHasBrand" value="True" @((Model.IsHasBrand == true) ? " checked" : string.Empty)/>
                    </td>
                </tr>

                <tr>
                    <td><label>Mô tả</label></td>
                    <td>
                        <textarea rows="8" id="Description" name="Description">@Model.Description</textarea>
                    </td>
                </tr>
            
                <tr>
                    <td></td>
                    <td>
                        <button id="submit" type="submit" class="primaryAction">@ViewBag.ActionText</button>
                        <button id="reset" type="reset" class="primaryAction">Nhập lại</button>
                        <button id="close" type="button" class="primaryAction">Đóng lại</button>
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>
