@model FDI.Base.System_Tag

@{
    ViewBag.Title = "Xem chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}
<div class="col-sm-12">
    <section class="panel panel-default">
        <header class="panel-heading font-bold">Thông tin về từ khóa</header>
        <table class="table table-bordered">
            <tr>
                <td><label>Tên từ khóa</label></td>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
            </tr>

            <tr>
                <td><label>Sản phẩm</label></td>
                <td>
                    @Model.Shop_Product.Count()
                </td>
            </tr>

            <tr>
                <td><label>Tin tức</label></td>
                <td>
                    @Model.News_News.Count()
                </td>
            </tr>

            <tr>
                <td><label>Album</label></td>
                <td>
                    @Model.Gallery_Album.Count()
                </td>
            </tr>

            <tr>
                <td><label>Link</label></td>
                <td>
                    @Model.Link
                </td>
            </tr>

        </table>
    </section>
</div>


