@model FDI.Base.Advertising_Zone
@{
    ViewBag.Title = ViewBag.ActionText + " chuyên mục zone page";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#GuideCategoryForm").validate({
            rules: {
                Page:
                {
                    required: true,
                    minlength: 3,
                    maxlength: 255
                },

            },
            submitHandler: function () { //onSubmit
                $.post(urlPostAction, $("#GuideCategoryForm").serialize(), function (data) {
                    if (data.Erros)
                        createMessage("Đã có lỗi xảy ra", data.Message); // Tạo thông báo lỗi
                    else {
                        $("#dialog-form").dialog('close'); //Đóng form thêm mới - sửa
                        createCloseMessage("Thông báo", data.Message, '#Page=1&itemId=' + data.ID + '&message=' + data.Message + '&temp=' + Math.floor(Math.random() * 11) + ''); // Tạo thông báo khi click đóng thì chuyển đến url đích
                    }
                });
                return false;
            }
        });

        $("#close").click(function () {
            $("#dialog-form").html("").dialog('close');
        });
    });
</script>

<div id="Order">
    <form id="GuideCategoryForm">
        <input type="hidden" name="do" id="do" value="@ViewBag.Action"/>
        <input type="hidden" name="ItemID" id="ItemID" value="@Model.ID"/>
        <div class="col-sm-12">
            <section class="panel panel-default">
                <header class="panel-heading font-bold">Thông tin về chuyên mục</header>
                <div class="panel-body">
                    <div class="bs-example form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Tên chuyên mục</label>
                            <div class="col-lg-10">
                                 @Html.TextBoxFor(model => model.Page, new { @class= "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Chuyên mục cha</label>
                            <div class="col-lg-10">
                                <select name="ParentID" id="ParentID" class="form-control">
                                    @foreach (var item in ViewBag.ZoneParentID)
                                    { 
                                        <option value="@item.ID"@((item.ID == Model.ParentID) ? " selected" : string.Empty)>@item.Page</option>
                                    }
                                </select>
                            </div>
                        </div>
                        
                           <div class="form-group">
                            <label class="col-lg-2 control-label">Hiện thị</label>
                            <div class="col-lg-10">
                                  @Html.CheckBox("Show")
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div style="display: none;">
            <button id="btnSave" type="submit" class="btn btn-sm btn-success">@ViewBag.ActionText</button>
            <button id="btnReset" type="reset" name="reset" class="btn btn-sm btn-success">Nhập lại</button>
            <button id="close" type="button" class="btn btn-sm btn-success">Đóng lại</button>
        </div>
    </form>
</div>
