@model FDI.Simple.SystemActionItem
@{
    ViewBag.Title = "Quản lý chuyên mục Banner";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutNew.cshtml";
}
<script type="text/javascript">

    urlLists = '@Url.Action("ListItems", "AdvertisingZone")';
    urlForm = '@Url.Action("AjaxForm", "AdvertisingZone")'; 
    urlPostAction = '@Url.Action("Actions", "AdvertisingZone")';
    urlView = '@Url.Action("AjaxView", "AdvertisingZone")';
    formWidth = 960;
    formHeight = $(window).height() - 24;
    viewWidth = 960;
    viewHeight = $(window).height() - 24;

    $(document).ready(function () {
        initAjaxLoad(urlLists, "#AdvertisingZoneGriditems");

        $("#gridSearch").submit(function () {
            var form = $("#gridSearch");
            window.location.href = '#' + getValueFormMutilSelect(form);
            return false;
        });

    });
</script>

<section id="content">
    <section class="hbox stretch">
        <aside>
            <section class="vbox">
                <header class="header bg-white b-b clearfix">
                    <ul class="breadcrumb no-border no-radius b-b b-light m-l-15x m-r-15x">
                        <li><a href="/Admin/Admin"><i class="fa fa-home"></i>Home</a></li>
                        <li class="active">Quản lý zone name</li>
                    </ul>
                    <div class="row m-t-sm">
                        <div class="col-sm-1 m-b-xs">
                            @if (Model.Add)
                            {
                                @Html.ActionLink("Thêm mới", "Actions", new { }, new { @class = "btn btn-sm btn-success", @id = "btn_add" })
                            }
                        </div>
                    </div>
                </header>
                <section  id="AdvertisingZoneGriditems" class="m-t-lg">
                </section>
            </section>
        </aside>
    </section>
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
</section>