@model FDI.Simple.ModelPictureItem

@{
    ViewBag.Title = "ListPicture";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        registerGridView('#gridItems');
        
        $("#PictureGriditems .submit #close").click(function () {
            $("#dialog-form-2").html("").dialog('close');
        });
        $("#btnPictureSelectSubmit").one("click", function () {
            if (!selectMutil) {
                $(textContainer).html('');
            }
            var lengthCheck = $("#PictureSelect input[type='checkbox']:checked").size();
            $("#PictureSelect .hidden").removeClass("hidden");

            //debugger;
            var htmlValue = '<table class="gridView" cellspacing="1">';
            //htmlValue += $(textContainer + " table").html();
            $("#PictureSelect input[type='checkbox']:checked").each(function (index) {
                if (selectMutil == true) {
                    var row = $(this).parent();
                    htmlValue += "<tr class='" + $(row).attr("class") + "' id='" + row.children("input").attr("id") + "'>" + $(row).html() + "</tr>";
                } else {
                    if (index == lengthCheck - 1) {
                        var row = $(this).parent();
                        htmlValue += "<tr class='" + $(row).attr("class") + "' id='" + row.children("input").attr("id") + "'>" + $(row).html() + "</tr>";
                    }
                }
            });
            htmlValue += "</table>";
            $(textContainer).html(htmlValue).find(".delete").remove();
            getValuePicture('@Model.Container');
            $("#dialog-form-2").dialog('close');
            $("#PictureSelect .hidden").removeClass("hidden");

            return false;
        });

        // Sự kiện chọn hình ảnh
        $(".my-gallery > .item").click(function () {
            if (selectMutil == false) {
                $(".my-gallery > .item").removeClass("active");
                $("#PictureSelect input[type='checkbox']:checked").prop('checked', false);
            }
            var obj = $(this).children("input[type='checkbox']");
            if (obj.prop('checked')) {
                $(this).removeClass("active");
                obj.prop('checked', false);
            }
            else {
                $(this).addClass("active");
                obj.prop('checked', true);
            }
        }); 
    });
</script>

<link href="/Content/Admin/css/gallery.css" rel="stylesheet" />

<div class="grid-container" id="gridItems">

    <div class="bg-light dk clearfix b-b" style="padding: 5px 5px 0px 5px;">
        @Html.Raw(Model.PageHtml)
    </div>
    <div class="my-gallery">
        @foreach (var item in Model.ListItem)
        {
            <div class="item">
                <img src="@FDI.Utility.GetUrlPicture(item.Url)" />
                <div class="clearBoth"></div>
                <input type="checkbox" id="@item.ID" />@item.Name
                @*<button type="button" class="btn btn-sm btn-success" onclick="$(this).parent().parent().remove(); getValuePicture('@Model.Container'); return false;">Xóa</button>*@
            </div>
        }
    </div>

</div>
<div style="display: none;">
    <button id="btnPictureSelectSubmit" type="submit" class="btn btn-sm btn-success">Chọn ảnh</button>
    <button id="btnPictureSelectreset" type="reset" class="btn btn-sm btn-success">Chọn lại</button>

</div>
