@model FDI.Base.Advertising

@{
    ViewBag.Title = "Xem chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}
<div class="col-sm-12">
    <section class="panel panel-default">
        <header class="panel-heading font-bold">Thông tin về banner quảng cáo</header>
        <table class="table table-bordered">
            <tr>
                <td>
                    <label>Tên banner</label></td>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
            </tr>
            @switch (Model.TypeID)
            {
                case 1: //Picture
                    <tr id="PicturePanel">
                        <td>
                            <label>Hình ảnh đại diện</label></td>
                        <td>
                            <img class="img-responsive" src="@((!Model.PictureID.HasValue) ? "/Content/Admin/images/no_image.gif" : "/Uploads/Thumbs/" + Model.Gallery_Picture.Folder + Model.Gallery_Picture.Url)" style="border:1px solid #ccc; width:250px; margin-top:2px;" />
                        </td>
                    </tr>
                    break;
                case 3: //Video
                    <tr id="VideoPanel">
                        <td>
                            <label>Video</label></td>
                        <td>
                            <iframe width="420" height="315" src="//www.youtube.com/embed/@Model.Url" frameborder="0" allowfullscreen></iframe>
                        </td>
                    </tr>
                    break;
                case 2: //Flash
                    <tr id="FlashPanel">
                        <td>
                            <label>Flash</label></td>
                        <td>
                            <embed width="420" height="315" type="application/x-shockwave-flash" src="@Model.Url"></embed>
                        </td>
                    </tr>
                    break;
            }

            <tr>
                <td>
                    <label>Link</label></td>
                <td>
                    @Html.Raw(Model.Link)
                </td>
            </tr>
            <tr>
                <td>
                    <label>Loại banner</label></td>
                <td id="type">
                    @Html.DisplayFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td>
                    <label>Trang hiển thị</label></td>
                <td>
                    @string.Join(", ", Model.Advertising_Zone.Select(c => c.Page))
                </td>
            </tr>
            <tr>
                <td>
                    <label>Tên vị trí banner</label></td>
                <td>
                    @Html.DisplayFor(model => model.Advertising_Position.Name)
                </td>
            </tr>
           
            <tr>
                <td>
                    <label>Width</label></td>
                <td>
                    @Html.Raw(Model.Width)
                </td>
            </tr>
            <tr>
                <td>
                    <label>Height</label></td>
                <td>
                    @Html.Raw(Model.Height)
                </td>
            </tr>
            <tr>
                <td>
                    <label>Thứ tự</label></td>
                <td>
                    @Html.Raw(Model.Order)
                </td>
            </tr>
            <tr>
                <td>
                    <label>Lượt click</label></td>
                <td>
                    @Html.Raw(Model.Clicked)
                </td>
            </tr>
            <tr>
                <td>
                    <label>Hiển thị</label></td>
                <td>
                    @Grid.DisplayShow(Model.Name, Model.Show)
                </td>
            </tr>

            <tr>
                <td>
                    <label>Nội dung chi tiết</label></td>
                <td>
                    @Html.Raw(Model.Content)
                </td>
            </tr>
        </table>
    </section>
</div>


