@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.SeoTitle != null ? Model.SeoTitle : "Kiến thức chia sẻ phần mềm";
    ViewBag.Description = Model.SeoDescription != null ? Model.SeoDescription : "Kiến thức chia sẻ phần mềm";
    ViewBag.Keywords = Model.SeoKeyword != null ? Model.SeoKeyword : "Kiến thức chia sẻ phần mềm";
}
@using FDI.Business.Reposity
@using FDI.Utils
@using Utility = FDI.Utility
@model FDI.Simple.NewsItem
<link href="/Content/Publishing/css/DVTKPM.css?v=2105" rel="stylesheet" />
<section id="content">
    <div class="pmmore-module-one">
        <div class="container">
            <div class="row">
                <a class="text-ktcs">Kiến thức chia sẻ</a>
                <div class="title-crumbs">
                    <a href="/">Trang chủ</a>/<a href="/@Model.CateAscii">@Model.CateName</a>
                </div>
            </div>
        </div>
    </div>

    <div class="pmmore-module-two">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="dv-post-detail">
                        <h1 class="dv-post-title">@Model.Title</h1>
                        <p class="dv-post-date">@Model.DateCreated.Value.ToString("dd/MM/yyyy") | @Model.UserNameCreate</p>
                        <p class="dv-post-content"></p>
                        @Html.Raw(Model.Details)
                    </div>

                    <div id="post-share-conten">
                    </div>
                    @* <script>

                        $(document).ready(function () {
                            setTimeout(function () {
                                $.ajax({
                                    url: '@(Url.Action("Share","Home"))',
                                    data: { url: document.URL },
                                    success: function (data) {
                                        $("#post-share-conten").html(data);
                                    }
                                });

                            }, 7000);
                        });

                    </script>*@
                    <div class="share_social">
                        <b>Hãy chia sẻ bài viết để mọi người cùng xem nhé!</b>
                        <div class="body-share-social">
                            <div class="add_this">
                                <div class="addthis_native_toolbox"></div>

                            </div>
                        </div>
                    </div>
                     <div class="newtag">
                        @Html.Action("ListByNewAssi", "Tag")
                    </div>
                    @Html.Action("ListNewByNewAssi","Tag", new{nameassi=Model.TitleAscii})
                    

                </div>


                <div class="col-sm-3">
                    @Html.Action("NewHostByCateAcsii", "News", new { cateAcsii = @Model.CateAscii })
                </div>
            </div>
        </div>
    </div>

    @Html.Action("ModulHTML", "Home", new { key = "ChuyenVienTuVan" })

</section>
