@model FDI.Base.FAQ_Category
@{
    ViewBag.Title = ViewBag.ActionText + " chuyên mục hỏi & đáp";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#FAQCategoryForm").validate({
            rules: {
                Name:
                {
                    required: true,
                    minlength: 3,
                    maxlength: 255
                },

                Description:
                {
                    minlength: 3,
                    maxlength: 500
                }
            },
            submitHandler: function () { //onSubmit
                $.post(urlPostAction, $("#FAQCategoryForm").serialize(), function (data) {
                    if (data.Erros)
                        createMessage("Đã có lỗi xảy ra", data.Message); // Tạo thông báo lỗi
                    else {
                        $("#dialog-form").dialog('close'); //Đóng form thêm mới - sửa
                        createCloseMessage("Thông báo", data.Message, '#Page=1&itemId=' + data.ID + '&message=' + data.Message + '&temp=' + Math.floor(Math.random() * 11) + ''); // Tạo thông báo khi click đóng thì chuyển đến url đích
                    }
                });
                return false;
            }
        });

        $("#close").click(function () {
            $("#dialog-form").html("").dialog('close');
        });
    });
</script>

<div id="Order">
    <form id="FAQCategoryForm">
        <input type="hidden" name="do" id="do" value="@ViewBag.Action"/>
        <input type="hidden" name="ItemID" id="ItemID" value="@Model.ID"/>
        <div class="col-sm-12">
            <section class="panel panel-default">
                <header class="panel-heading font-bold">Thông tin về chuyên mục câu hỏi</header>
                <div class="panel-body">
                    <div class="bs-example form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Tên chuyên mục</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" placeholder="..." name="Name" @(ViewBag.Action.ToString().Equals("Add") ? "class=autoPermalink" : "") id="Name"  value="@Model.Name"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Thứ tự hiện thị</label>
                            <div class="col-lg-10">
                                <input type="text" name="DisplayOrder" id="DisplayOrder" value="@Model.DisplayOrder" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Chuyên mục cha</label>
                            <div class="col-lg-10">
                                <select name="ParentID" id="ParentID" class="form-control">
                                    @foreach (var item in ViewBag.ParentID)
                                    { 
                                        <option value="@item.ID"@((item.ID == Model.ParentID) ? " selected" : string.Empty)>@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Mô tả</label>
                            <div class="col-lg-10">
                                <textarea rows="10" class="form-control" placeholder="..." name="Description" id="Description">@Model.Description</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <div class="checkbox col-md-6">
                                    <label>
                                        @Html.CheckBox("IsShow") Hiện thị
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div style="display: none;">
            <button id="btnSave" type="submit" class="btn btn-sm btn-success">@ViewBag.ActionText</button>
            <button id="btnReset" type="reset" name="reset" class="btn btn-sm btn-success">Nhập lại</button>
            <button id="close" type="button" class="btn btn-sm btn-success">Đóng lại</button>
        </div>
    </form>
</div>
