@using FDI.Utils
@model FDI.Base.Shop_Comment

@{
    ViewBag.Title = "Xem chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}
<script type="text/javascript">
    var fromAnswerUrl = '@Url.Action("AjaxFormReply", "ShopComment", new { @ShopCommentID = Model.ID })';

    var urlPostAnswer = '@Url.Action("ReplyActions", "ShopComment")';



    $(".primaryAction").click(function () {
        var item = $(this);
        console.log(item.attr("key"));
        var key = item.attr("key");
        var status = item.attr("status");
        var img = $(".imgstt[key=" + key + "]");
        console.log(img.attr("key"));

        if (status == "Delete") {
            var url = "/Admin/ShopComment/ReplyActions?do=Delete&ItemID=" + key;
            $.post(url, { 'ItemID': key }, function (msg) {
                if (msg.Message.length > 0) {
                    alert(msg.Message);
                    item.attr("status", "Delete");
                    $("#dialog-form").dialog(
				            {
				                title: "Xem nội dung bình luận: @Model.Title",
				                width: formWidth,
				                height: formHeight
				            }
			            ).load(encodeURI(urlView + "?itemId=@Model.ID")).dialog("open");

                    createCloseMessage("Thông báo", data.Message, '#Page=1&itemId=' + data.ID + '&message=' + data.Message + '&temp=' + Math.floor(Math.random() * 11) + ''); // Tạo thông báo khi click đóng thì chuyển đến url đích
                    item.html("Đã xóa câu trả lời");
                    //$(".forms[+key+]").remove();
                }

            });

        }

        if (status == "Hide") {
            var url = "/Admin/ShopComment/ReplyActions?do=Hide&ItemID=" + key;
            $.post(url, { 'ItemID': key }, function (msg) {

                if (msg.Message.length > 0) {
                    alert(msg.Message);

                    img.html("<img border=\"0\" title=\"\" key=\"" + key + "\" src=\"/Content/Admin/images/gridview/pending.gif\">");
                    item.attr("status", "Show");
                    item.html("Hiển thị câu trả lời");
                }
            });

        }
        else if (status == "Show") {
            var url = "/Admin/ShopComment/ReplyActions?do=Show&ItemID=" + key;
            $.post(url, { 'ItemID': key }, function (msg) {

                if (msg.Message.length > 0) {
                    alert(msg.Message);

                    img.html("<img border=\"0\" title=\"\" key=\"" + key + "\" src=\"/Content/Admin/images/gridview/approved.gif\">");
                    item.attr("status", "Hide");
                    item.html("Ẩn câu trả lời");
                }
            });

        }

    });


    //edit reply
    function EditAnswer(id) {
        $("#dialog-form-2").dialog(
		    {
		        title: "Sửa câu trả lời cho bình luận: @Model.Title",
		        width: formWidth,
		        height: formHeight
		    }
	    ).load(encodeURI(fromAnswerUrl + "&do=Edit&ItemID=" + id)).dialog("open");
            return false;
        }


        //like

        $('.like-button').click(function () {
            var obj = $(this);
            if (obj.text() == 'Thích') {
                var id = $(this).attr('href').replace('#', '');
                var url = '@Url.Action("NewsLike", "ShopComment")';
            $.ajax({
                url: url,
                type: 'POST',
                data: "{ShopCommentID:" + id + "}",
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    $("#counter").html("Số người thích: " + result.Like);

                    obj.html('Không thích');
                }
            });
            return false;
        }
        else {
            var id = $(this).attr('href').replace('#', '');
            var url = '@Url.Action("NewsUnLike", "ShopComment")';
            $.ajax({
                url: url,
                type: 'POST',
                data: "{ShopCommentID:" + id + "}",
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    $("#counter").html("Số người thích: " + result.Like);

                    obj.html('Thích');
                }
            });
            return false;
        }
    });


    $(document).ready(function () {
        $("#btnAddAnswer").click(function () {
            $("#dialog-form-2").dialog(
			    {
			        title: "Gửi trả lời cho bình luận: @Model.Name",
			        width: formWidth,
			        height: formHeight
			    }
		    ).load(encodeURI(fromAnswerUrl + "&do=Add")).dialog("open");
            return false;
        });
    });

</script>
<fieldset class="forms">
    <legend>Nội dung bình luận</legend>
    <table class="tableforms tabledetails" cellspacing="1" width="100%">
        <tr>
            <td style="width: 120px;" class="label">
                <label>Tiêu đề bài viết</label></td>
            <td>@Model.Title</td>
        </tr>

        <tr>
            <td class="label">
                <label>Người bình luận</label></td>
            <td>@Model.Name</td>
        </tr>


        <tr>
            <td class="label">
                <label>Email</label></td>
            <td>@Model.Email</td>
        </tr>

        <tr>
            <td class="label">
                <label>Ngày gửi</label></td>
            <td>@Html.DisplayFor(modelItem => Model.DateCreated)</td>
        </tr>

        <tr>
            <td class="label">
                <label>Hiển thị</label></td>
            <td>@Grid.DisplayShow(Model.Title, Model.IsActive.Value)</td>
        </tr>

        <tr>
            <td class="label">
                <label>Nội dung chi tiết</label></td>
            <td>
                @HttpUtility.HtmlDecode(FDIUtils.RemoveHTMLTag(Model.Content))
                
            </td>
        </tr>

    </table>
</fieldset>


<div class="headear">

    <div class="manage">
        <span><a class="like-button" href="#@Model.ID">Thích</a></span><div id="counter">
              @foreach (var countlike in Model.Shop_CommentLike)
{
                  <label>Số người thích: @countlike.Like</label>
    //if (countlike.ShopCommentID == countlike.ID)
    //{
        
  
    //}
}                                                            

</div>
        <button id="btnAddAnswer" class="primaryAction">Trả lời bình luận</button>

    </div>
</div>




@if (Model.Shop_Comment1.Any())
{
    foreach (var reply in Model.Shop_Comment1)
    {
        if (reply.IsDeleted == true)
        {
            continue;
        }
        <fieldset class="forms" key="@reply.ID">
            <legend>@reply.Title</legend>
            <table class="tableforms tabledetails" cellspacing="1" width="100%" key="@reply.ID">

                <tr>
                    <td style="width: 120px;" class="label">
                        <label>Quản lý</label></td>
                    <td>
                        <button class="primaryAction" onclick="EditAnswer(@reply.ID);" >Sửa câu trả lời</button>
                        @if (reply.IsActive != null && reply.IsActive.Value)
                        {
                            <button class="primaryAction" status="Hide" key="@reply.ID" >Ẩn câu trả lời</button>
                        }
                        else
                        {
                            <button class="primaryAction" status="Show" key="@reply.ID" >Hiển thị câu trả lời</button>
                        }

                        <button class="primaryAction" status="Delete" key="@reply.ID" >Xóa câu trả lời</button>

                    </td>
                </tr>

                <tr>
                    <td class="label">
                        <label>Tên người trả lời</label></td>
                    <td>@reply.Name</td>
                </tr>
                <tr>
                    <td class="label">
                        <label>Email</label></td>
                    <td>@reply.Email</td>
                </tr>
                <tr>
                    <td class="label">
                        <label>Hiển thị</label></td>
                    <td class="imgstt" key="@reply.ID">@Grid.DisplayShow(reply.Title, reply.IsActive != null && reply.IsActive.Value)</td>
                </tr>

                <tr>
                    <td class="label">
                        <label>Nội dung trả lời</label></td>
                    <td>@HttpUtility.HtmlDecode(FDIUtils.RemoveHTMLTag(reply.Content))</td>
                </tr>

                <tr>
                    <td class="label">
                        <label>Ngày trả lời</label></td>
                    <td>@Html.DisplayFor(modelItem => reply.DateCreated)</td>
                </tr>


            </table>
        </fieldset>
        <div class="headear">
            <div class="manage">
                <span><a class="like-button" href="#@Model.ID">Thích</a></span>
            </div>
        </div>
    }
}
else
{ 
    <fieldset class="forms">
        <legend>Chưa có câu trả lời nào được gửi</legend>
    </fieldset>
}
