@model FDI.Base.Shop_Category

@{
    ViewBag.Title = "Xem chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}

<fieldset class="forms">
    <legend>Danh mục sản phẩm</legend>
    <table class="tableforms tabledetails" cellspacing="1" width="100%">
        <tr>
            <td style="width:120px;" class="label"><label>Tên danh mục</label></td>
            <td>@(Model.Name)</td>
        </tr>
        <tr>
            <td style="width:120px;" class="label"><label>FrtRoundingNumber</label></td>
            <td>@(Model.FrtRoundingNumber)</td>
        </tr>
        <tr>
            <td style="width:120px;" class="label"><label>Mô tả</label></td>
            <td>@Html.Raw(Model.Description)</td>
        </tr>
        <tr>
            <td style="width:120px;" class="label"><label>Meta Keyword</label></td>
            <td>@(Model.MetaKeyword)</td>
        </tr>
         <tr>
            <td style="width:120px;" class="label"><label>Meta Description</label></td>
            <td>@Html.Raw(Model.MetaDescription)</td>
        </tr>
        <tr>
            <td class="label"><label>Hiển thị</label></td> 
            <td>@Grid.DisplayShow(Model.Name, Model.IsPublish.Value)</td>
        </tr>
        <tr>
            <td class="label"><label>Hiển thị trên tab</label></td>
            <td>@*@Grid.DisplayShow(Model.Name, Model.IsShowInTab)*@</td>
        </tr>
        <tr>
            <td class="label"><label>Bán chạy</label></td>
            <td>@Grid.DisplayShow(Model.Name, Model.IsShowOnBestSeller.Value)</td>
        </tr>
        <tr>
            <td class="label"><label>Cho phép tìm kiếm</label></td>
            <td>@Grid.DisplayShow(Model.Name, Model.IsAllowFilter.Value)</td>
        </tr>
    </table>
</fieldset>
