@model FDI.Base.Shop_Product_Variant
@{
    ViewBag.Title = "Xem chi tiết biến thể sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}

<fieldset class="forms">
    <table class="tableforms tabledetails" cellspacing="1" width="100%">
         <tr>
            <td style="width:80px;" class="label"><label>Mã biến thể sản phẩm</label></td>
            <td>@Model.ID</td>
        </tr>
        <tr>
            <td style="width:80px;" class="label"><label>Tên sản phẩm</label></td>
            <td>@Model.Shop_Product.Name</td>
        </tr>
        <tr>
            <td class="label"><label>Màu</label></td>
            <td>@Model.System_Color.Name</td>
        </tr>
        <tr>
            <td class="label"><label>Mã sku</label></td>
            <td>@Model.Sku</td>
        </tr>
        <tr>
            <td class="label"><label>Trả góp</label></td>
            <td>
                @Grid.DisplayShow(Model.Shop_Product.Name + " màu " + Model.System_Color.Name, Model.IsRecurring.Value)
                @if (Model.IsRecurring.HasValue && Model.IsRecurring.Value)
                {
                    @Html.Action("ProductRecurringView","ProductVariant", new { productId = Model.ID })
                }
            </td>
        </tr>
        <tr>
            <td class="label"><label>Số lượng trong kho</label></td>
            <td>@Model.StockQuantity</td>
        </tr>
        <tr>
            <td class="label"><label>Hiển thị kho</label></td>
            <td>@Grid.DisplayShow(Model.Shop_Product.Name + " màu " + Model.System_Color.Name, Model.DisplayStockAvailability.Value)</td>
        </tr>
        <tr>
            <td class="label"><label>Hiển thị số lượng trong kho</label></td>
            <td>@Grid.DisplayShow(Model.Shop_Product.Name + " màu " + Model.System_Color.Name, Model.DisplayStockQuantity.Value)</td>
        </tr>
        <tr>
            <td class="label"><label>Số lượng trong kho ít nhất</label></td>
            <td>@Model.MinStockQuantity</td>
        </tr>
        <tr>
            <td class="label"><label>Cảnh báo về số lượng sản phẩm</label></td>
            <td>@Grid.DisplayShow(Model.Shop_Product.Name + " màu " + Model.System_Color.Name, Model.NotifyAdminForQuantityBelow.Value)</td>
        </tr>
        <tr>
            <td class="label"><label>Số lượng đặt hàng ít nhất</label></td>
            <td>@Model.OrderMinimumQuantity</td>
        </tr>
        <tr>
            <td class="label"><label>Số lượng đặt hàng nhiều nhất</label></td>
            <td>@Model.OrderMaximumQuantity</td>
        </tr>
        <tr>
            <td class="label"><label>Ẩn nút mua</label></td>
            <td>@Grid.DisplayShow(Model.Shop_Product.Name + " màu " + Model.System_Color.Name, Model.DisableBuyButton.Value)</td>
        </tr>
        <tr>
            <td class="label"><label>Hiển thị trong wishlist</label></td>
            <td>@Grid.DisplayShow(Model.Shop_Product.Name + " màu " + Model.System_Color.Name, Model.DisableWishlistButton.Value)</td>
        </tr>
        <tr>
            <td class="label"><label>Cho phép đặt hàng trước</label></td>
            <td>@Grid.DisplayShow(Model.Shop_Product.Name + " màu " + Model.System_Color.Name, Model.AvailableForPreOrder.Value)</td>
        </tr>
        <tr>
            <td class="label"><label>Mô tả đặt hàng trước</label></td>
            <td>@(Model.PreOrderID.HasValue && Model.PreOrderID.Value > 0 & Model.AvailableForPreOrder.Value == true ? Html.Raw(Model.Shop_Product_PreOrder.PreOrderShortDescription) : Html.Raw(""))</td>
        </tr>
        <tr>
            <td class="label"><label>Mô tả chi tiết đặt hàng trước</label></td>
            <td>@(Model.PreOrderID.HasValue && Model.PreOrderID.Value > 0 & Model.AvailableForPreOrder.Value == true ? Html.Raw(Model.Shop_Product_PreOrder.PreOrderDescription) : Html.Raw(""))</td>
        </tr>
        <tr>
            <td class="label"><label>Gọi điện để hỏi giá</label></td>
            <td>@Grid.DisplayShow(Model.Shop_Product.Name + " màu " + Model.System_Color.Name, Model.CallForPrice.Value)</td>
        </tr>
        <tr>
            <td class="label"><label>Gía tiền</label></td>
            <td>@FDI.Utils.FormatCurrency.FormatPriceVND(Model.Price.Value) đ</td>
        </tr>
        <tr>
            <td class="label"><label>Gía tiền sau thuế</label></td>
            <td>@FDI.Utils.FormatCurrency.FormatPriceVND(Model.PriceAfterTax.Value) đ</td>
        <tr>
            <td class="label"><label>Gía tiền trước thuế</label></td>
            <td>@FDI.Utils.FormatCurrency.FormatPriceVND(Model.PriceBeforeTax.Value) đ</td>
        </tr>
        <tr>
            <td class="label"><label>Gía online trước thuế</label></td>
            <td>@FDI.Utils.FormatCurrency.FormatPriceVND(Model.PriceOnlineBeforeTax.Value) đ</td>
        </tr>
        <tr>
            <td class="label"><label>Ngày hiển thị sản phẩm</label></td>
            <td>@if(Model.AvailableStartDateTimeUtc.HasValue && Model.AvailableEndDateTimeUtc.HasValue)
                {
                    String.Format("{0} - {1}", Model.AvailableStartDateTimeUtc.Value.ToString("dd/MM/yyyy"),Model.AvailableEndDateTimeUtc.Value.ToString("dd/MM/yyyy"));
                }
            </td>
        </tr>
        <tr>
            <td class="label"><label>Publish</label></td>
            <td>@Grid.DisplayShow(Model.Shop_Product.Name + " màu " + Model.System_Color.Name, Model.IsPublished.Value)</td>
        </tr>
        <tr>
            <td class="label"><label>Vị trí</label></td>
            <td>@Model.Position.Value</td>
        </tr>
        <tr>
            <td class="label"><label>Hiển thị trang chủ</label></td>
            <td>@Grid.DisplayShow(Model.Shop_Product.Name + " màu " + Model.System_Color.Name, Model.IsHomePage.Value)</td>
        </tr>
        <tr>
            <td class="label"><label>Hiển thị slide</label></td>
            <td>@Grid.DisplayShow(Model.Shop_Product.Name + " màu " + Model.System_Color.Name, Model.IsSlider.Value)</td>
        </tr>
        <tr>
            <td class="label"><label>Sản phẩm bán chạy</label></td>
            <td>@if(Model.IsBestSeller.HasValue)
                {
                    Grid.DisplayShow(Model.Shop_Product.Name + " màu " + Model.System_Color.Name, Model.IsBestSeller.Value);
                }
            </td>
        </tr>
        <tr>
            <td class="label"><label>Cho phép đặt hàng khi hết hàng trong kho</label></td>
            <td>@if(Model.IsAllowOrderOutStock.HasValue)
                {
                    Grid.DisplayShow(Model.Shop_Product.Name + " màu " + Model.System_Color.Name, Model.IsAllowOrderOutStock.Value);
                }
            </td >
        </tr>
        <tr>
            <td class="label"><label>Gỉam giá</label></td>
            <td>@if (Model.IsApplyDiscount.HasValue)
                {
                    @Grid.DisplayShow(Model.Shop_Product.Name + " màu " + Model.System_Color.Name, Model.IsApplyDiscount.Value)
                    ;
                }
            </td>
        </tr>
        <tr>
            <td class="label"><label>Gỉam giá online (coupon)</label></td>
            <td>@if (Model.IsApplyDiscountShoppingCart.HasValue)
                {
                    Grid.DisplayShow(Model.Shop_Product.Name + " màu " + Model.System_Color.Name, Model.IsApplyDiscountShoppingCart.Value);
                }
            </td>
        </tr>
        <tr>
            <td class="label"><label>Gỉam giá tặng kèm</label></td>
            <td>@if (Model.IsApplyDiscountCrossell.HasValue)
                {
                    Grid.DisplayShow(Model.Shop_Product.Name + " màu " + Model.System_Color.Name, Model.IsApplyDiscountCrossell.Value);
                }
            </td>
        </tr>
        <tr>
            <td class="label"><label>Gỉam giá đặc biệt</label></td>
            <td>@if (Model.IsApplyDiscountSpecial.HasValue)
                {
                    Grid.DisplayShow(Model.Shop_Product.Name + " màu " + Model.System_Color.Name, Model.IsApplyDiscountSpecial.Value);
                }
            </td>
        </tr>
        <tr>
            <td class="label">
                <label>Sử dụng Voucher</label></td>
            <td>
                @Grid.DisplayShow(Model.Shop_Product.Name + " màu " + Model.System_Color.Name, Model.IsVoucher.HasValue && Model.IsVoucher.Value);
            </td>
        </tr>
        <tr>
            <td class="label"><label>Thẻ meta keywords</label></td>
            <td>@Model.MetaKeyWords</td>
        </tr>
        <tr>
            <td class="label"><label>Thẻ meta description</label></td>
            <td>@Html.Raw(Model.MetaDescription)</td>
        </tr>
        <tr>
                <td style="width: 160px;"><label>hình ảnh</label></td>
                <td>
                    <div id="Text_Images">
                        <table class="gridView" cellspacing="1">
                            @foreach (var item in Model.Shop_Product_Variant_Picture_Mapping)
                            {
                                <tr title="@item.Gallery_Picture.Name" id="@item.Gallery_Picture.ID">
                                    <td>@item.Gallery_Picture.ID</td>
                                    <td>
                                        @Gallery.DisplayImage(item.Gallery_Picture.Folder + item.Gallery_Picture.Url, 120)
                                    </td>
                                    <td>
                                        <p>Tên ảnh: <b>@item.Gallery_Picture.Name</b></p>
                                        <p>Ngày tạo: <i>@item.Gallery_Picture.DateCreated.ToString("dd/MM/yyyy hh:mm:ss tt")</i></p>
                                        <p>Chuyên mục: <b>@((item.Gallery_Picture.CategoryID.HasValue) ? item.Gallery_Picture.Gallery_Category.Name : "")</b></p>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </td>
            </tr>
    </table>
</fieldset>
