@model FDI.Simple.ModelNewsDichVuItem
@{
    
    ViewBag.Title = Model.SeoTitle != null ? Model.SeoTitle : "";
    ViewBag.Description = Model.SeoDescription != null ? Model.SeoDescription : "";
    ViewBag.Keywords = Model.SeoKeywords != null ? Model.SeoKeywords : "";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var url = ViewBag.url;
}
@{
    var urlCategory = Request.Url != null ? Request.Url.AbsolutePath : "";
    string[] moduleArr = urlCategory.Split('/');
    var category = Model.TenDanhMuc ?? "";
    if (moduleArr.Length >= 3)
    {
        category = moduleArr[2];
    }
}

<link href="/Content/Publishing/css/product.css?v=2105" rel="stylesheet" />
<section id="content">
    <div class="div-product-zero">
        <div class="container">
            <div class="row">
                @Html.Action("ModulHTML", "Home", new { key = "dichvu_donghanh_FDISoft" })
                @Html.Action("ModulHTML", "Home", new { key = "ThongTinHoTro" })
            </div>
        </div>
    </div>
    <div class="div-product-two">
        <div class="container">
            <div class="row">
                
                <div class="col-sm-9">
                    @if (string.IsNullOrEmpty(url))
                    {
                        @Html.Action("ModulHTML", "Home", new { key = "dichvu_slides" })
                    }
                    else
                    {
                        @Html.Action("ModulHTMLSlide", "Home", new { key = "DichVu_slide", url = url.ToString() })
                    }

                    <a href="/">Trang chủ</a> &raquo; <a href="/@Model.TenDanhMuc">@Model.DanhMuc</a>
                    @{                        
                        if (Model != null && Model.Cate != null)
                        { 
                        @Html.Raw(Model.Cate.Description) 
                        }
                    }
                </div>
                <div class="col-sm-3">
                    <div class="product-box-list">
                        <h4 class="title">Danh mục</h4>
                        <ul class="list-text-ico">
                            @{
                                if (Model != null && Model.ListNewsItem != null && Model.ListNewsItem.Any())
                                {
                                    foreach (var item in Model.ListNewsItem)
                                    {
                                        var className = category.ToLower().Equals(item.TitleAscii.ToLower()) ? "active" : "";
                                <li class="@className"><a href="/@item.TitleAscii" style="background-image:url('@FDI.Utility.GetUrlPicture(item.PictureUrl)')">@item.Title</a></li>                                    }
                                }
                            }
                        </ul>
                    </div>
                    <div class="product-quangcao hidden-xs">
                        <img src="/Content/Publishing/Images/bannerQC.jpg" class="img-responsive" alt="quangcao" title="" />
                    </div>
                    @Html.Action("TinNoiBat", "News")
                </div>
            </div>
        </div>
    </div>
    @Html.Action("ModulHTML", "Home", new { key = "ChuyenVienTuVan" })
    <!--form contact-->
</section>
