@model FDI.Base.Module
@{
    ViewBag.Title = ViewBag.ActionText + " Module";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {

        $("#ModuleForm").validate({
            rules: {
                NameModule:
                {
                    required: true,
                    minlength: 3,
                    maxlength: 255
                },
                Content:
                {
                    minlength: 3,
                    maxlength: 500
                }
            },

            submitHandler: function () { //onSubmit
                $.post(urlPostAction, $("#ModuleForm").serialize(), function (data) {
                    if (data.Erros)
                        createMessage("Đã có lỗi xảy ra", data.Message); // Tạo thông báo lỗi
                    else {
                        $("#dialog-form").dialog('close'); //Đóng form thêm mới - sửa
                        createCloseMessage("Thông báo", data.Message, '#Page=1&itemId=' + data.ID + '&message=' + data.Message + '&temp=' + Math.floor(Math.random() * 11) + ''); // Tạo thông báo khi click đóng thì chuyển đến url đích
                    }
                });
                return false;
            }
        });

        $("#close").click(function () {
            $("#dialog-form").html("").dialog('close');
        });
    });
</script>

<div id="Order">
    <form id="ModuleForm">

        <input type="hidden" name="do" id="do" value="@ViewBag.Action"/>
        <input type="hidden" name="ItemID" id="ItemID" value="@Model.ID"/>
        <div class="col-sm-12">
            <section class="panel panel-default">
                <header class="panel-heading font-bold">Thông tin về module</header>
                <div class="panel-body">
                    <div class="bs-example form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Tên module</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" placeholder="..." name="NameModule"  id="NameModule"  value="@Model.NameModule"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Link chuyên mục</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" placeholder="..." name="Tag"  id="Tag"  value="@Model.Tag"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">ClassCss</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" placeholder="..." name="ClassCss"  id="ClassCss"  value="@Model.ClassCss"/>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-lg-2 control-label">Thứ tự</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" placeholder="..." name="Ord"  id="Ord"  value="@Model.Ord"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Chuyên mục cha</label>
                            <div class="col-lg-10">
                                <select name="PrarentID" id="PrarentID" class="form-control">
                                    @foreach (var item in ViewBag.PrarentID)
                                    { 
                                        <option value="@item.ID"@((item.ID == Model.PrarentID) ? " selected" : string.Empty)>@item.NameModule</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Mô tả</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" placeholder="..." name="Content"  id="Content"  value="@Model.Content"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <div class="checkbox col-md-6">
                                    <label>
                                        @Html.CheckBox("IsShow") Hiện thị
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>

        <div style="display: none;">
            <button id="btnSave" type="submit" class="btn btn-sm btn-success">@ViewBag.ActionText</button>
            <button id="btnReset" type="reset" name="reset" class="btn btn-sm btn-success">Nhập lại</button>
            <button id="close" type="button" class="btn btn-sm btn-success">Đóng lại</button>
        </div>

    </form>
</div>
