@model FDI.Simple.ModelProductItem
@{
    ViewBag.Title = "Quản lý biến thể sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutNew.cshtml";
}
<script type="text/javascript">
    urlLists = '@Url.Action("ListItems", "ProductVariant")';
    urlForm = '@Url.Action("AjaxForm", "ProductVariant")';
    urlPostAction = '@Url.Action("Actions", "ProductVariant")';
    @*urlAddVariantAction = '@Url.Action("AddVariant", "ProductVariant")';*@
    urlView = '@Url.Action("AjaxView", "ProductVariant")';
    formWidth = 960;
    formHeight = $(window).height() - 24;
    viewWidth = 960;
    viewHeight = $(window).height() - 24;
    var autoTimeout = '';

    $(document).ready(function () {

        initAjaxLoad(urlLists, "#NewsGriditems");

        $("#gridSearch").submit(function () {
            var form = $("#gridSearch");
            window.location.href = '#' + getValueFormMutilSelect(form);
            return false;
        });

        $("#btn_add").click(function () {
            $("#dialog-form").dialog(
				{
				    title: "Thêm mới biến thể sản phẩm",
				    width: formWidth,
				    height: formHeight
				}
			).load(encodeURI(urlForm + "?do=Add")).dialog("open");
            return false;
        });

        $(document).on('keyup', '#Sku', function (e) {
            clearTimeout(autoTimeout);
            var sku = $(this).val();
            if ($.trim(sku).length > 2) {
                autoTimeout = setTimeout(function () {
                    $.post('/Admin/ProductVariant/GetPriceBySku', { sku: sku }, function (data) {
                        if (!data.error) {
                            $('#PriceBeforeTax').val(ConvertCurrency(data.result[1].toString()));
                            $('#PriceAfterTax, #Price').val(ConvertCurrency(data.result[0].toString()));
                            $('#PriceOnlineBeforeTax').val(ConvertCurrency(data.result[3].toString()));
                            $('#PriceOnline').val(ConvertCurrency(data.result[2].toString()));
                        } else {
                            $('#PriceBeforeTax').val(0);
                            $('#PriceAfterTax, #Price').val(0);
                            $('#PriceOnlineBeforeTax').val(0);
                            $('#PriceOnline').val(0);
                        }
                    });
                }, 1000);
            }
        });

        $(document).on('change', '#AvailableForPreOrder', function (e) {
            if ($(this).is(':checked')) {
                $(this).parent().find('.forms').removeClass('hidden');
            } else {
                $(this).parent().find('.forms').addClass('hidden');
            }
        });

        $("select.mutil").multiSelect({ oneOrMoreSelected: '*', selectAllText: '<b>Tất cả</b>', optGroupSelectable: true });
        $(".mutilSelectOne").multiSelect({ selectAll: false, chooseOne: true });
    });
</script>
<section id="content">
    <section class="hbox stretch">
        <aside>
            <section class="vbox">
                <header class="header bg-white b-b clearfix">
                    <ul class="breadcrumb no-border no-radius b-b b-light m-l-15x m-r-15x">
                        <li><a href="/Admin/Admin"><i class="fa fa-home"></i>Home</a></li>
                        <li class="active">Quản lý biến thể sản phẩm</li>
                    </ul>
                    <div class="row m-t-sm">
                        <div class="col-sm-11 m-b-xs">
                            <form id="gridSearch" class="form-inline" role="form">
                                <div class="form-group">
                                    <label class="sr-only" for="Keyword">Từ khóa tìm kiếm</label>
                                    <input type="text" class="form-control input-sm" id="Keyword" name="Keyword" placeholder="Từ khóa tìm kiếm">
                                </div>
                                <div class="form-group">
                                    <select name="SearchIn" id="SearchIn" class="form-control input-sm mutil">
                                        <option value="Sku">Mã sku</option>
                                        <option value="Price">Gía tiền</option>
                                    </select>
                                    @Html.DropDownList("ProductID", new SelectList(Model.ListItem, "ID", "Name"), "Chọn Sản phẩm", new { @class = "mutilSelectOne" })
                                    <label>Chọn màu</label>
                                    <select name="ColorID" id="ColorID">
                                        <option value="0">Chọn màu</option>
                                        @foreach (var item in Model.ListColorItem)
                                        { 
                                            <option value="@item.ID">@item.Name</option>
                                        }
                                    </select>

                                </div>
                                <button name="submit.Search" type="submit" class="btn btn-sm btn-success">Tìm kiếm</button>
                            </form>
                        </div>
                        <div class="col-sm-1 m-b-xs">
                            @if (Model.SystemActionItem.Add)
                            {
                                @Html.ActionLink("Thêm mới", "Actions", new { }, new { @class = "btn btn-sm btn-success", @id = "btn_add" })
                            }
                        </div>
                    </div>
                </header>
                <section id="NewsGriditems" class="m-t-lg">
                </section>

            </section>
        </aside>
    </section>
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
</section>
