@model FDI.Base.System_Menu
@{
    ViewBag.Title = ViewBag.ActionText + " Menu";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        LoadCKEDITOR('MenuDescription', true);
        $("#SystemMenuForm").validate({
            rules: {
                MenuTitle:
                {
                    required: true,
                    minlength: 3,
                    maxlength: 255
                },
                MenuLink:
                {
                    minlength: 3,
                    maxlength: 255
                }
            },
            submitHandler: function () { //onSubmit
                updateEditor();
                $.post(urlPostAction, $("#SystemMenuForm").serialize(), function (data) {
                    if (data.Erros)
                        createMessage("Đã có lỗi xảy ra", data.Message); // Tạo thông báo lỗi
                    else {
                        $("#dialog-form").dialog('close'); //Đóng form thêm mới - sửa
                        createCloseMessage("Thông báo", data.Message, '#Page=1&itemId=' + data.ID + '&message=' + data.Message + '&temp=' + Math.floor(Math.random() * 11) + ''); // Tạo thông báo khi click đóng thì chuyển đến url đích
                    }
                });
                return false;
            }
        });

        $("#close").click(function () {
            $("#dialog-form").html("").dialog('close');
        });

    });
</script>

<div id="Order">
    <form id="SystemMenuForm">
        <input type="hidden" name="do" id="do" value="@ViewBag.Action"/>
        <input type="hidden" name="ItemID" id="ItemID" value="@Model.MenuID"/>
        <div class="col-sm-12">
            <section class="panel panel-default">
                <header class="panel-heading font-bold">Thông tin về menu</header>
                <div class="panel-body">
                    <div class="bs-example form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Tên menu</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" placeholder="..." name="MenuTitle" @(ViewBag.Action.ToString().Equals("Add") ? "class=autoPermalink" : "") id="MenuTitle"  value="@Model.MenuTitle"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Thứ tự hiển thị</label>
                            <div class="col-lg-10">
                                <input type="text" name="MenuOrder" id="MenuOrder" value="@Model.MenuOrder" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Địa chỉ liên kết</label>
                            <div class="col-lg-10">
                                <input type="text" name="MenuLink" id="MenuLink" value="@Model.MenuLink" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Menu cha</label>
                            <div class="col-lg-10">
                                <select name="MenuParentID" id="MenuParentID" class="form-control">
                                    @foreach (var item in ViewBag.MenuParentID)
                                    { 
                                        <option value="@item.MenuID"@((item.MenuID == Model.MenuParentID) ? " selected" : string.Empty)>@item.MenuTitle</option>
                                    }
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-lg-2 control-label">Mô tả</label>
                            <div class="col-lg-10">
                                <textarea rows="8" id="MenuDescription" name="MenuDescription" class="form-control">@Model.MenuDescription</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <div class="checkbox col-md-6">
                                    <label>
                                        @Html.CheckBox("MenuShow") Hiện thị
                                    </label>
                                </div>

                                <div class="checkbox col-md-6">
                                    <label>
                                        @Html.CheckBox("MenuTaget") Mở cửa sổ mới
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>

        <div style="display: none;">
            <button id="btnSave" type="submit" class="btn btn-sm btn-success">@ViewBag.ActionText</button>
            <button id="btnReset" type="reset" name="reset" class="btn btn-sm btn-success">Nhập lại</button>
            <button id="close" type="button" class="btn btn-sm btn-success">Đóng lại</button>
        </div>

    </form>
</div>
