@model FDI.Simple.ModelNewsDichVuItem
@{
    ViewBag.Title = Model.NewsItem.SeoTitle ??"";
    ViewBag.Description = Model.NewsItem.SeoDescription??"";
    ViewBag.Keywords = Model.NewsItem.SeoKeyword??"";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var urlCategory = Request.Url != null ? Request.Url.AbsolutePath : "";
    string[] moduleArr = urlCategory.Split('/');
    var category = Model.TenDanhMuc ?? "";
    if (moduleArr.Length >= 3)
    {
        category = moduleArr[2];
    }
}

<link href="/Content/Publishing/css/about.css?v=2105" rel="stylesheet" />
<section id="content">
    @Html.Action("ModulHTML", "Home", new { key = "donghanh_FDISoft" })

    <div class="div-news-two">
        <div class="container">
            <div class="row">

                <div class="col-sm-9">
                    @*<a href="/">Trang chủ</a> &raquo; <a href="/@Model.TenDanhMuc">@Model.DanhMuc</a> &raquo; <a href="/@Model.NewsItem.TitleAscii" class="bd">@Model.NewsItem.Title</a>*@
                    <a href="/">Trang chủ</a> &raquo; <a href="/@Model.TenDanhMuc">@Model.DanhMuc</a>
                    @if (Model.NewsItem != null)
                    {
                        @Html.Raw(Model.NewsItem.Details)

                      <div class="share_social">
                        <b>Hãy chia sẻ bài viết để mọi người cùng xem nhé!</b>
                        <div class="body-share-social">
								<div class="add_this">
									<div class="addthis_native_toolbox"></div>
 
								</div>
							</div>
                    </div>
                    }
                </div>
                <div class="col-sm-3">
                    <div class="product-box-list">
                        <h4 class="title">Giới thiệu FDI</h4>
                        <ul class="list-text-ico">
                            @{
                                if (Model != null && Model.ListNewsItem != null && Model.ListNewsItem.Any())
                                {
                                    foreach (var item in Model.ListNewsItem.OrderBy(m=>m.StartDateDisplay).ToList())
                                    {
                                        var className = category.ToLower().Equals(item.TitleAscii.ToLower()) ? "active" : "";
                                        var linkPage = "/" + item.TitleAscii;
                                <li class=""><a href="@linkPage" title="@linkPage" style="background-image:url('@FDI.Utility.GetUrlPicture(item.PictureUrl)')">@item.Title</a></li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                    <div class="product-quangcao hidden-xs">
                        <img src="/Content/Publishing/Images/bannerQC.jpg" class="img-responsive" alt="" title="" />
                    </div>
                    @Html.Action("TinNoiBat", "News",new{name=Model.NewsItem.CateAscii})
                </div>
            </div>
        </div>
    </div>
    <!--form contact-->
</section>
<script>
    $(document).ready(function () {
        var url = window.location.pathname;
        var count = $(".list-text-ico>li").length;
        var index;
        for (var i = 0; i < count; i++) {
            $(".list-text-ico>li")[i].className = "";
            if ($(".list-text-ico>li")[i].childNodes[0].title == url) {
                index = i;
            }
        }
        $(".list-text-ico>li")[index].className = "active";
    });
</script>
