@model FDI.Base.CustomerContact
@{
    ViewBag.Title = "Xem chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}

<div class="col-sm-12">
    <section class="panel panel-default">
        <header class="panel-heading font-bold">Thông tin về khách hàng liên hệ</header>
        <table class="table table-bordered">
            <tr>
            <td>
                <label>Người gửi</label></td>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td>
                <label>Email</label></td>
            <td>
                @Html.DisplayFor(model => model.Email)
            </td>
        </tr>
        <tr>
            <td>
                <label>Số điện thoại</label></td>
            <td>
                @Html.DisplayFor(model => model.Phone)
            </td>
        </tr>

        <tr>
            <td>
                <label>Ngày gửi</label></td>
            <td>
                @Html.DisplayFor(model => model.CreatedOnUtc)
            </td>
        </tr>

        <tr>
            <td>
                <label>Tiêu đề</label></td>
            <td>
                @Html.DisplayFor(model => model.Subject)
            </td>
        </tr>
        <tr>
            <td>
                <label>Nội dung</label></td>
            <td>
                @Html.DisplayFor(model => model.Message)
            </td>
        </tr>
        <tr>
            <td>
                <label>Trạng thái liên hệ</label></td>

            @if (Model.Status == true)
            {
                <td>Đã liên hệ </td>
            }
            else
            {
                <td>Chưa liên hệ </td>
            }

        </tr>
        </table>
    </section>
</div>

