@model FDI.Simple.NewsItem
@{
    ViewBag.Title = Model.SeoTitle;
    ViewBag.Description = Model.SeoDescription;
    ViewBag.Keywords = Model.SeoKeyword;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Content/Publishing/css/news.css?v=2105" rel="stylesheet" />
<section id="content">
    @*@Html.Action("News_Top","news")*@
    <div class="div-news-two">
        <div class="container">
            <div class="row" style="position: relative;">
                

                <div class="col-sm-9 module-news-right">
                    @*<a href="/">Trang chủ</a> &raquo; <a href="/@Model.CateAscii">@Model.CateName</a> &raquo; <a href="/@Model.TitleAscii" class="bd">@Model.Title</a>*@
                    <a href="/">Trang chủ</a> &raquo; <a href="/@Model.CateAscii">@Model.CateName</a>
                    <div class="news-box-right">
                        @*<div class="col-xs-3 col-sm-1 news-date">
                            <div class="date-box"><span class="day">@Convert.ToDateTime(Model.DateCreated).ToString("dd")</span><span class="year">@Convert.ToDateTime(Model.DateCreated).ToString("MM yyyy")</span></div>
                        </div>*@
                        <div class="col-xs-9 col-sm-10 news-right-main news-chitiet">
                            <h3 class="title"><a href="@Model.TitleAscii">@Model.Title</a></h3>
                            <div class="post_data">
                                <span class="fa fa-user"><a href="@Model.TitleAscii" title="Posts by admin" rel="author">@Model.UserNameCreate</a></span>
                                <span class="fa fa-calendar date-box-more">
                                    <strong class="time-news-more">@Convert.ToDateTime(Model.DateCreated).ToString("dd / MM / yyyy")</strong>
                                </span>
                                <span class="fa fa-tag"><a href="@Model.TitleAscii" rel="category tag">Tag</a></span>
                            </div>
                        </div>
                        <div class="col-xs-12 news-right-main">
                            <br />
                            <p><b>@Model.Description</b></p>
                            <a href="@Model.TitleAscii">
                                <img src="@FDI.Utility.GetUrlOriginalPicture(Model.PictureUrl)" style="width: 100%; margin: 20px 0;" alt="" title=""/></a>
                            @Html.Raw(Model.Details)

                        </div>
                         <div id="post-share-conten">
                        
                    </div>
                        @* <script>
                        
                        $(document).ready(function () {
                            setTimeout(function () {
                                $.ajax({
                                    url: '@(Url.Action("Share","Home"))',
                                    data: { url: document.URL },
                                success: function (data) {
                                    $("#post-share-conten").html(data);
                                }
                                });
                              
                            }, 7000);
                        });

                    </script>*@
                        <div class="share_social">
                        <b>Hãy chia sẻ bài viết để mọi người cùng xem nhé!</b>
                        <div class="body-share-social">
								<div class="add_this">
									<div class="addthis_native_toolbox"></div>
 
								</div>
							</div>
                    </div>

                    </div>
                    <div class="newtag">
                        @Html.Action("ListByNewAssi", "Tag")
                    </div>
                </div>
                <div class="col-sm-3" style="position: sticky;">
                    <!--Chủ đề bạn quan tâm-->
                    @Html.Action("DichVuSeoLeftMenu", "Design")
                    <!--/Chủ đề bạn quan tâm-->
                    <!--TinNoiBat-->
                    @Html.Action("TinNoiBat", "News")
                    <!--/TinNoiBat-->
                </div>
            </div>
        </div>
    </div>
</section>

