@model FDI.Simple.NewsCategoryItem
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.SEOTitle ?? "";
    ViewBag.Description = Model.SEODescription ?? "";
    ViewBag.Keywords = Model.SEOKeyword?? ""; 
}
<link href="/Content/Publishing/css/DVTKW.css?v=2105" rel="stylesheet" />
<section id="content">
    <div class="slider-container">
        <script src="/Scripts/Slider-01/js/slider.home.js?v=2105"></script>

        @*<script src="/Scripts/Slider-01/js/jquery.js"></script>
        <script src="/Scripts/Slider-01/js/greensock.js"></script>
        <script src="/Scripts/Slider-01/js/layerslider.kreaturamedia.jquery.js"></script>
        <script src="/Scripts/Slider-01/js/layerslider.transitions.js"></script>
        <script data-cfasync="false" type="text/javascript">
            var lsjQuery = jQuery;
            var curSkin = 'noskin';
            lsjQuery(document).ready(function () {
                if (typeof lsjQuery.fn.layerSlider == "undefined") {
                    lsShowNotice('layerslider_23', 'jquery');
                } else {
                    lsjQuery("#layerslider_23").layerSlider({
                        responsive: false,
                        responsiveUnder: 1280,
                        layersContainer: 1280,
                        startInViewport: false,
                        skin: 'noskin',
                        globalBGColor: 'transparent',
                        hoverPrevNext: false,
                        autoPlayVideos: false,
                        yourLogoStyle: 'left: 10px; top: 10px;',
                        cbInit: function(element) {
                        },
                        cbStart: function(data) {},
                        cbStop: function(data) {},
                        cbPause: function(data) {},
                        cbAnimStart: function(data) {
                            $("#box-slide-tab > ul > li").css("background-color", "white");
                            var id = $(".ls-active").attr("vsdata");
                            $(".vsls-slide" + id).css("background-color", "#9a4822");
                        },
                        cbAnimStop: function(data) {},
                        cbPrev: function(data) {},
                        cbNext: function(data) {},
                        skinsPath: '',
                        thumbnailNavigation: 'hover'
                    });
                }
            });
        </script>*@
        @Html.Action("ModulHTML","Home",new {key = "Home_Slide"})
    </div>
        @Html.Action("ModulHTML","Home",new {key = "designweb_dv_module_one"})
        @Html.Action("ModulHTML","Home",new {key = "designweb_dv_module_two"})
        @Html.Action("ModulHTML","Home",new {key = "designweb_dv_module_three"})
        @Html.Action("ModulHTML","Home",new {key = "designweb_dv_module_four"})
        @Html.Action("ModulHTML","Home",new {key = "designweb_dv_module_five"})

    

    

    <div class="dv-module-six wow fadeInUp" data-wow-duration="600ms" data-wow-delay="300ms">
        <div class="container">
            <div class="row">
                <h2 class="title text-center">Giao diện khác biệt thể hiện cá tính độc đáo của bạn</h2>
                <h5 class="text-center">Sự thành công của khách hàng luôn là động lực lớn để FDI tiếp tục nỗ lực hơn nữa!</h5>
                @Html.Action("KhoGiaoDien", "Home")
            </div>
        </div>
    </div>
    @Html.Action("ModulHTML", "Home", new { key = "ChuyenVienTuVan" })
</section>

