@model FDI.Simple.SystemActionItem
@{
    ViewBag.Title = "Quản lý gán quyền Module";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutNew.cshtml";
}
<script type="text/javascript">

    urlLists = '@Url.Action("ListItems", "Module")';
    urlForm = '@Url.Action("AjaxForm", "Module")';
   @* urlShow = '@Url.Action("AjaxActiveForm", "Module")';*@
    urlViewRole = '@Url.Action("AjaxUserForm", "Module")';
    urlRole = '@Url.Action("AjaxRoleForm", "Module")';
    urlSort = '@Url.Action("AjaxSort", "Module")';
    urlPostAction = '@Url.Action("Actions", "Module")';
    urlPostAction1 = '@Url.Action("Actions", "Module", new { @do = "Update", @abc = "True" })';
    urlPostAction2 = '@Url.Action("Actions", "Module", new { @do = "UserModule", @a = "True" })';
    urlPostAction3 = '@Url.Action("Actions", "Module", new { @do = "RoleModule", @a = "True" })';
    @*urlView = '@Url.Action("AjaxView", "Module")';*@
    formWidth = 960;
    formHeight = $(window).height() - 24;
    viewWidth = 960;
    viewHeight = $(window).height() - 24;

    $(document).ready(function () {
        initAjaxLoad(urlLists, "#NewsGriditems");

        $("#gridSearch").submit(function () {
            var form = $("#gridSearch");
            window.location.href = '#' + getValueFormMutilSelect(form);
            return false;
        });
    });
</script>

<section id="content">
    <section class="hbox stretch">
        <aside>
            <section class="vbox">
                <header class="header bg-white b-b clearfix">
                    <ul class="breadcrumb no-border no-radius b-b b-light m-l-15x m-r-15x">
                        <li><a href="/Admin/Admin"><i class="fa fa-home"></i>Home</a></li>
                        <li class="active">Quản lý bài viết </li>
                    </ul>
                    <div class="row m-t-sm">
                        <div class="col-sm-1 m-b-xs searchbox">
                            @Html.ActionLink("Thêm mới", "Actions", new { }, new { @class = "btn btn-sm btn-success", @id = "btn_add" })
                        </div>
                    </div>
                </header>
                <section id="NewsGriditems" class="m-t-lg">
                </section>

            </section>
        </aside>
    </section>
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
</section>
