@{
    ViewBag.Title = "Demo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="@Url.Action("Serialize","Home")">.serialize()</a>
<br/><a href="@Url.Action("Attr","Home")">.attr()</a>
<br/><a href="@Url.Action("On","Home")">.on()</a>
<br/><a href="@Url.Action("Index","AutoSearch")">AutoSearch</a>
<br/><a href="@Url.Action("Datepicker","Home")">DatePicker</a>
<br/><a href="@Url.Action("Tooltip","Home")">POPOVER BOOSTRAP TOOLTIP</a>
<br/><a href="@Url.Action("Scroll","Home")">Scroll</a>
<br/><a href="@Url.Action("Ajaxcomplete","Home")">Ajaxcomplete</a>