@model FDI.Simple.ModelHtmlSettingItem

@{
    ViewBag.Title = "ListCity";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}


<section id="gridItems" class="vbox">
    <section class="scrollable wrapper w-f">
        <section class="panel panel-default">
            <table class="gridView" cellspacing="1">
                <thead>
                    <tr>
                        <th class="act_roles">
                            <input value="" type="checkbox" />
                        </th>
                        <th><a href="#Field=ID">ID<span /></a></th>
                        <th><a href="#Field=Key">Key<span /></a></th>
                        <th>Url</th>
                        <th></th>
                        <th colspan="2" style="width: 10%;">Thao tác</th>
                    </tr>
                </thead>
                @if (Model.SystemActionItem.ViewFull)
                {
                    foreach (var item in Model.ListItem)
                    {
                    <tr title="@item.Key">
                        <td class="act_roles">
                            <input type="checkbox" value="@item.ID" class="check" >
                        </td>

                        <td>
                            @item.ID
                        </td>
                        <td>
                            @item.Key
                        </td>
                        <td>
                            @item.Url
                        </td>

                        <td></td>
                        <td class="btn-group">
                            @if (Model.SystemActionItem.Edit)
                            {
                                @Grid.ActionEdit(item.ID, item.Value)
                            }
                            @if (Model.SystemActionItem.Delete)
                            {
                                @Grid.ActionDelete(item.ID, item.Value)
                            }
                        </td>
                    </tr>
                    }
                }
            </table>
        </section>
    </section>
    <footer class="footer bg-white b-t portlet">
        <div class="row m-t-xs">
            @Html.Raw(Model.PageHtml)
        </div>
    </footer>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        registerGridView('#gridItems');
    });
</script>
