@*@using PagedList.Mvc*@
@model FDI.Areas.Admin.Models.UserAdministration.IndexViewModel
@{
    ViewBag.Title = "Quản lý tài khoản quản trị";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutNew.cshtml";
}

@*<script type="text/javascript">
    $(document).ready(function() {

        $("#RoleForm").validate({   
                submitHandler: function () { //onSubmit
                    $.post(urlPostAction, $("#RoleForm").serialize(),
                        function (data) {
                        if (data.Erros)
                            createMessage("Đã có lỗi xảy ra", data.Message); // Tạo thông báo lỗi
                        else {
                            $("#dialog-form").dialog('close'); //Đóng form thêm mới - sửa
                            createCloseMessage("Thông báo", data.Message, '#Page=1&itemId=' + data.ID + '&message=' + data.Message + '&temp=' + Math.floor(Math.random() * 11) + ''); // Tạo thông báo khi click đóng thì chuyển đến url đích
                        }
                    });
                    return false;   
            }
        });

        $("#close").click(function () {
            $("#dialog-form").html("").dialog('close');
        });
    });
</script>*@
<section id="gridItems" class="vbox">
  
    <section class="panel panel-default">
        <header class="header bg-white b-b clearfix">
            @if (!Model.IsRolesEnabled)
            {<p class="FDI.MvcMembership-warning">Cơ chế membership chưa được bật.</p>}
            <ul class="breadcrumb no-border no-radius b-b b-light m-l-15x m-r-15x">
                <li><a href="/Admin/Admin"><i class="fa fa-home"></i>Home</a></li>
                <li class="active">Danh sách người quản trị</li>
            </ul>
            <div class="row m-t-sm">
                <div class="col-sm-11 m-b-xs">
                    <form id="gridSearch" class="form-inline" role="form">
                        <label for="search">Tên tài khoản hoặc email:</label>
                        <input type="text" name="search" class="form-control input-sm" value="@Model.Search" />
                        <button name="submit.Search" type="submit" class="btn btn-sm btn-success">Tìm kiếm</button>
                        @if (!string.IsNullOrWhiteSpace(Model.Search))
                        {<label>(@Html.ActionLink("Xóa tìm kiếm", "Index"))</label>}
                    </form>
                </div>
                <div class="col-sm-1 m-b-xs">
                    @if (ViewBag.Add)
                    {
                        @Html.ActionLink("Thêm mới", "CreateUser", new { }, new { @class = "btn btn-sm btn-success", @id = "btn_add" })
                    }
                </div>
            </div>
        </header>
    
            <section  id="NewsGriditems">
                <fieldset class="forms">
                    <table class="gridView" cellspacing="1">
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Mô tả</th>
                            <th>Duyệt</th>
                            <th>Khóa</th>
                            <th>Online</th>
                            <th>Quản lý</th>
                        </tr>
                        @if (ViewBag.ViewFull)
                        {
                            foreach (var user in Model.Users)
                            {
                                <tr>
                                    <td>@user.UserName</td>
                                    <td>@user.Email</td>
                                    <td>@user.Comment</td>
                                    <td>@Grid.DisplayShow(user.UserName, user.IsApproved)</td>
                                    <td>@Grid.DisplayShow(user.UserName, !user.IsLockedOut)</td>
                                    <td>@Grid.DisplayShow(user.UserName, user.IsOnline)</td>
                                    <td>
                                        @if (ViewBag.Edit)
                                        {
                                            @Html.ActionLink("Chi tiết", "Details", new { id = user.ProviderUserKey})
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </table>
              </fieldset>
            </section>
     

    </section>
 
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
</section>
