@using System.Globalization
@model FDI.Areas.Admin.Models.UserAdministration.DetailsViewModel
@{
	ViewBag.Title = "Quản lý quyền quản trị" + Model.DisplayName;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="zone zone-content">
    <h1 class="FDI.MvcMembership">Quản lý quyền của trị viên: @Model.DisplayName [@Model.Status]</h1>
    <div class="headear">
        <div class="searchbox">
            @Html.ActionLink("Quay lại danh sách", "Index", "UserAdministration", new {}, new { @class = "button primaryAction", @id = "btn_back" })
        </div>
        <div class="manage">
            @Html.ActionLink("Đổi mật khẩu", "Password", "UserAdministration", new { id = Model.User.ProviderUserKey }, new { @class = "add button primaryAction", @id = "btn_add" })
                                                                                                                                                                                                            <div style="float:right; padding-left:5px;">
            @using (Html.BeginForm("DeleteUser", "UserAdministration", new { id = Model.User.ProviderUserKey }))
            {
		        <button type="submit">Xóa tài khoản</button>
            }
            </div>
            <div style="float:right;">
            @using (Html.BeginForm("ChangeApproval", "UserAdministration", new { id = Model.User.ProviderUserKey }))
            {
                @Html.Hidden("isApproved", !Model.User.IsApproved)
	            <button type="submit">@(Model.User.IsApproved ? "Hủy duyệt" : "Duyệt") tài khoản</button>
            }
            </div>
        </div>
    </div>
    @using (Html.BeginForm("Details", "UserAdministration", new { id = Model.User.ProviderUserKey }))
    {
    <fieldset class="forms">
    <table class="tableforms tabledetails" cellspacing="1" width="100%">
        <tr>
            <td style="width:120px;" class="label"><label>Tài khoản</label></td>
            <td>@Model.User.UserName</td>
        </tr>

        <tr>
            <td class="label"><label>Email</label></td>
            <td>@Model.User.Email</td>
        </tr>

        <tr>
            <td class="label"><label>Hoạt động cuối</label></td>
            <td>@Model.User.LastActivityDate.ToString("dd/MM/yyyy hh:mm:ss tt")</td>
        </tr>

        <tr>
            <td class="label"><label>Đăng nhập cuối</label></td>
            <td>@Model.User.LastLoginDate.ToString("dd/MM/yyyy hh:mm:ss tt")</td>
        </tr>

        <tr>
            <td class="label"><label>Ngày tạo</label></td>
            <td>@Model.User.CreationDate.ToString("dd/MM/yyyy hh:mm:ss tt")</td>
        </tr>

        <tr>
            <td class="label"><label>Thay đổi email</label></td>
            <td>@Html.TextBox("email", Model.User.Email)</td>
        </tr>

        <tr>
            <td class="label"><label>Ghi chú</label></td>
            <td>@Html.TextArea("comments", Model.User.Comment)</td>
        </tr>
        <tr>
            <td colspan="2" class="submit">
                <button type="submit">Lưu thông tin</button>
            </td>
        </tr>
    </table>
    </fieldset>
    }

    <fieldset class="forms">
        <h2>Danh sách vai trò đang được sử dụng</h2>
        <table class="gridView" cellspacing="1" width="100%">
            <tr>
                <th>Tên vai trò</th>
                <th>Trạng thái</th>
                <th>Quản lý</th>
            </tr>
            @foreach (var role in Model.Roles)
            {
            <tr>
                <td>@Html.ActionLink(role.Key, "Role", new { id = role.Key })</td>
                <td>@((role.Value) ? "Đang sử dụng" : "Không sử dụng")</td>
                <td>
                    @if (role.Value)
                    {
                        using (Html.BeginForm("RemoveFromRole", "UserAdministration", new { id = Model.User.ProviderUserKey, role = role.Key }))
                        {
				            <button type="submit">Xóa vai trò</button>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("AddToRole", "UserAdministration", new { id = Model.User.ProviderUserKey, role = role.Key }))
                        {
				            <button type="submit">Thêm vai trò</button>
                        }
                    }
                </td>
            </tr>
            }
        </table>
    </fieldset>
</div>