@model FDI.Simple.ModelAdvertisingPositionItem
@{
    ViewBag.Title = "Quản lý banner";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutNew.cshtml";
}
<script type="text/javascript">

    urlLists = '@Url.Action("ListItems", "Advertising")';
    urlForm = '@Url.Action("AjaxForm", "Advertising")';
    urlPostAction = '@Url.Action("Actions", "Advertising")';
    urlView = '@Url.Action("AjaxView", "Advertising")';
    formWidth = 960;
    //formHeight = 650;
    formHeight = $(window).height() - 24;
    viewWidth = 960;
    //viewHeight = 650;
    viewHeight = $(window).height() - 24;

    $(document).ready(function () {
        initAjaxLoad(urlLists, "#NewsGriditems");
        //$("select.mutil").multiSelect({ oneOrMoreSelected: '*', selectAllText: '<b>Tất cả</b>', optGroupSelectable: true });
        $("#gridSearch").submit(function () {
            var form = $("#gridSearch");
            window.location.href = '#' + getValueFormMutilSelect(form);
            return false;
        });
        $("select").change(function () {
            $("select option:selected").each(function () {
                var form = $("#cateSearch");
                window.location.href = '#' + getValueFormMutilSelect(form);
                return false;
            });
        });
        $(".fieldSearchDate").datepicker({
            showOn: "button",
            buttonImageOnly: true
        }).mask('00/00/0000');
        $("select.mutil").multiSelect({ oneOrMoreSelected: '*', selectAllText: '<b>Tất cả</b>', optGroupSelectable: true });
        $("#btn_add").click(function () {
            $("#dialog-form").dialog(
                {
                    title: "Thêm mới banner",
                    width: formWidth,
                    height: formHeight
                }
            ).load(encodeURI(urlForm + "?do=Add")).dialog("open");
            return false;
        });
    });
</script>
<section id="content">
    <section class="hbox stretch">
        <aside>
            <section class="vbox">
                <header class="header bg-white b-b clearfix">
                    <ul class="breadcrumb no-border no-radius b-b b-light m-l-15x m-r-15x">
                        <li><a href="/Admin/Admin"><i class="fa fa-home"></i>Home</a></li>
                        <li class="active">Quản lý Banner</li>
                    </ul>
                    <div class="row m-t-sm">
                        <div class="col-sm-11 m-b-xs">
                            <form id="gridSearch" class="form-inline" role="form">
                                <div class="form-group">
                                    <label class="sr-only" for="Keyword">Từ khóa tìm kiếm</label>
                                    <input type="text" class="form-control input-sm" id="Keyword" name="Keyword" placeholder="Từ khóa tìm kiếm">
                                </div>
                                <div class="form-group">
                                    <select name="SearchIn" id="SearchIn" class="form-control input-sm mutil">
                                        <option value="Name">Tên banner</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <select name="PositionID" id="PositionID" class="form-control">
                                        <option value="0">Vị trí banner</option>
                                        @foreach (var item in Model.ListItem)
                                        { 
                                            <option value="@item.ID">@item.Name</option>
                                        }
                                    </select>
                                </div>
                              @*  <label>Tìm theo ngày tháng:</label>
                                <input type="text" name="StartDate" class="fieldSearchDate" placeholder="Từ ngày" />
                                <input type="text" name="EndDate" class="fieldSearchDate" placeholder="Tới ngày" />*@
                                <button name="submit.Search" type="submit" class="btn btn-sm btn-success">Tìm kiếm</button>
                            </form>
                          
                        </div>
                        <div class="col-sm-1 m-b-xs">
                            @if (Model.SystemActionItem.Add)
                            {
                                @Html.ActionLink("Thêm mới", "Actions", new { }, new { @class = "btn btn-sm btn-success", @id = "btn_add" })
                            }
                        </div>
                    </div>
                </header>
                <section id="NewsGriditems" class="m-t-lg">
                </section>

            </section>
        </aside>
    </section>
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
</section>
