@using FDI
@model FDI.Simple.ModelTagItemListNewItem
@{
    ViewBag.Title = Model.tagitem != null ? Model.tagitem.SEOTitle : "";
    ViewBag.Description = Model.tagitem != null ? Model.tagitem.SEODescription : "";
    ViewBag.Keywords = Model.tagitem != null ? Model.tagitem.SEOKeyword : "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Content/Publishing/css/tag.css" rel="stylesheet" />
<section id="content">

    <div class="tag-module-one">
        <div class="container">
            <div class="row">
                <a class="text-ktcs">@Model.tagitem.Name</a>
                <div class="title-crumbs">
                    <a href="#">Trang chủ</a>/<a href="/Tags/@Model.tagitem.NameAscii">@Model.tagitem.Name</a>
                </div>
            </div>
        </div>
    </div>

    <div class="tag-module-two">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="dv-post-detail">
                        @Html.Raw(Model.tagitem.Description)
                    </div>
                    <div class="pmlist-mdtwo-main">
                    @if (Model != null && Model.ListItem != null)
                    {
                        foreach (var item in Model.ListItem)
                        {
                        <div class="pmlist-box-news col-sm-6">
                            <div class="dvpm-list-img col-sm-4">
                                <a href="/@item.TitleAscii">
                                    <img src="@FDI.Utility.GetUrlOriginalPicture(item.PictureUrl)" alt="" title="" />
                                </a>
                            </div>
                            <div class="dvpm-list-main col-sm-8">
                                <a href="/@item.TitleAscii" class="dv-post-title">@item.Title</a>
                                <p class="dv-post-date">Đăng ngày @item.DateCreated.Value.ToString("dd/MM/yyyy") | @item.UserNameCreate</p>
                                <p>@FDI.Utils.MyString.Truncate(item.Description, 120)</p>
                            </div>
                        </div>
                        }
                    }
                </div>
                <div class="div-phantrang">
                    <div class="dot-fillin">
                        @Html.Raw(Model.HtmlPage)
                    </div>
                    <script src="/Content/Publishing/js/dots.js"></script>
                    <script>
                        [].slice.call(document.querySelectorAll('.dot-fillin > ul')).forEach(function (nav) {
                            new DotNav(nav, { callback: function (idx) { } });
                        });
                    </script>
                </div>
                    <div class="share_social">
                        <b>Hãy chia sẻ bài viết để mọi người cùng xem nhé!</b>
                        <div class="body-share-social">
                            <div class="add_this">
                                <div class="addthis_native_toolbox"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    @Html.Action("ModulHTML", "Home", new { key = "ChuyenVienTuVan" })

</section>
