@model IEnumerable<FDI.Base.Gallery_Picture>
@{
	ViewBag.Title = "Kho giao diện";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Content/Publishing/css/News.css?v=2105" rel="stylesheet" />
<link href="/Content/Publishing/css/Home2.css?v=2105" rel="stylesheet"/>
<style>
    .div-module-one:before {top: 175px !important;}
</style>

<section id="content">
	<div class="div-module-zero text-center">
		<div class="container">
			<h2 style="text-align: left !important;"><a href="">Giao diện website</a></h2>
		</div>
	</div>

</section>
<div class="div-module-one">
	<div class="container">
		<div class="row">
			<div class="FDI-product" id="Focus">
				@foreach (var item in Model)
				{
					<div class="col-sm-6 col-md-3">
                        <div class="giaodien-img">
						    <div class="view">
							    <img src="@FDI.Utility.GetUrlPicture(item.Folder + item.Url)" class="img-responsive product-img" alt="" title=""/>
							    <div class="mask">
								    <h2 style="  text-transform: lowercase;">@item.Name</h2>
								    <a href="@item.Name" class="info product-more" target="_blank" rel="nofollow">Chi tiết</a><a href="@FDI.Utility.GetUrlOriginalPicture(item.Folder + item.Url)" class="info product-zoom fancybox-effects-c">Xem ảnh</a>
							    </div>
						    </div>
                        </div>
					</div>
				}
			</div>
			<div class="col-xs-11 col-xs-offset-1 div-phantrang">
                <div class="dot-fillin">
					<ul>
						@Html.Raw(ViewBag.HtmlPage)
					</ul>
			    </div> 
            </div>
		</div>
	</div>
</div>
