@model FDI.Base.Shop_Label
@{
    ViewBag.Title = "Xem chi tiết nhãn sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}

<fieldset class="forms">
    <table class="tableforms tabledetails" cellspacing="1" width="100%">
        <tr>
            <td style="width: 80px;" class="label">
                <label>Tên nhãn</label></td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td class="label">
                <label>Mô tả</label></td>
            <td>@Html.Raw(Model.Description)</td>
        </tr>

        <tr>
            <td class="label">
                <label>Hiển thị</label></td>
            <td>@Grid.DisplayShow(Model.Name, Model.IsShow)</td>
        </tr>

        <tr>
            <td class="label">
                <label>Hiển thị trong kết quả tìm kiếm</label></td>
            <td>@Grid.DisplayShow(Model.Name, Model.IsShowInSearch)</td>
        </tr>

        <tr>
            <td class="label">
                <label>Hình ảnh</label></td>
            <td>
                @if (Model.PictureID.HasValue)
                {
                    <table class="gridView" cellspacing="1">
                        <tr title="@Model.Gallery_Picture.Name" id="@Model.Gallery_Picture.ID">
                            <td>@Model.Gallery_Picture.ID</td>
                            <td>
                                @Gallery.DisplayImage(Model.Gallery_Picture.Url, 120)
                            </td>
                            <td>
                                <p>Tên ảnh: <b>@Model.Gallery_Picture.Name</b></p>
                                <p>Ngày tạo: <i>@Model.Gallery_Picture.DateCreated.ToString("dd/MM/yyyy hh:mm:ss tt")</i></p>
                                <p>Album: <b>@((Model.Gallery_Picture.AlbumID.HasValue) ? Model.Gallery_Picture.Gallery_Album.Name : "")</b></p>
                                <p>Chuyên mục: <b>@((Model.Gallery_Picture.CategoryID.HasValue) ? Model.Gallery_Picture.Gallery_Category.Name : "")</b></p>
                            </td>
                      
                        </tr>
                    </table>
                }
            </td>
        </tr>
    </table>
</fieldset>
