@model FDI.Base.Shop_Product_Rating
@{
    ViewBag.Title = ViewBag.ActionText + " đánh giá sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        LoadCKEDITOR('RateNote', false);

        $("#NewsCategoryForm").validate({
            submitHandler: function () { //onSubmit
                updateEditor();
                $.post(urlPostAction, $("#NewsCategoryForm").serialize(), function (data) {
                    if (data.Erros)
                        createMessage("Đã có lỗi xảy ra", data.Message); // Tạo thông báo lỗi
                    else {
                        $("#dialog-form").dialog('close'); //Đóng form thêm mới - sửa
                        createCloseMessage("Thông báo", data.Message, '#Page=1&itemId=' + data.ID + '&message=' + data.Message + '&temp=' + Math.floor(Math.random() * 11) + ''); // Tạo thông báo khi click đóng thì chuyển đến url đích
                    }
                });
                return false;
            }
        });
        //$("#reset").click(function () {
        //    var aaa = $("iframe").html();
            
            
        //});
        $("#close").click(function () {
            $("#dialog-form").html("").dialog('close');
        });
    });
</script>

<div id="Order">
    <form id="NewsCategoryForm">
        <input type="hidden" name="do" id="do" value="@ViewBag.Action"/>
        <input type="hidden" name="itemID" id="itemID" value="@Model.ID"/>

        <fieldset class="forms">
            <table class="tableforms" cellspacing="1" width="100%">
                <tr>
                    <td>
                        <label>Điểm đánh giá</label></td>
                    <td>
                        <fieldset class="forms">
                            <table class="tableforms" cellspacing="1" width="100%">
                            @if (ViewBag.Action.ToString() == "Edit")
                            {
                                <tr>
                                    <th>Tiêu chí</th>
                                    <th>Điểm</th>
                                    <th></th>
                                </tr>
                                if (Model.Shop_Product_RateNumber != null)
                                {
                                    foreach (var item in Model.Shop_Product_RateNumber)
                                    {
                                        <tr>
                                            <td>@item.Shop_Product_RateType.RateName</td>
                                            <td><input type="text" id="@item.ID" name="RateNumber" value="@item.RateNumber" /></td>
                                            <td>
                                                <a href='javascript:editRating("@item.ID");' title="Sửa đánh giá @item.Shop_Product_RateType.RateName">
                                                    <img src="/Content/Admin/images/gridview/point-icon.png" border="0" /></a>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </table>
                        </fieldset>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <label>Đánh giá</label></td>
                    <td>
                        <textarea rows="8" id="RateNote" name="RateNote">@Model.RateNote</textarea>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <button id="submit" type="submit" class="primaryAction">@ViewBag.ActionText</button>
                        <button id="reset" type="reset" class="primaryAction">Nhập lại</button>
                        <button id="close" type="button" class="primaryAction">Đóng lại</button>
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>


@*<script type="text/javascript">
    function editRating(ID) {
        var rateNumber = document.getElementById(ID).value;
        var productRateId = document.getElementById("itemID").value;
        var link = '/Admin/ProductRating/EditRating';
        
        $.post(link, { 'ProductRateId': productRateId, 'RateNumberID': ID, 'RateNumber': rateNumber }, function (data) {
            if (data.result == 0) {
                alert('Bạn đã sửa đánh giá thành công');
            }
        });

        return false;
    }
</script>*@
