@model FDI.Simple.ModelCustomerItem
@{
    ViewBag.Title = "Quản lý đánh giá sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutNew.cshtml";
}
<script type="text/javascript">
    urlLists = '@Url.Action("ListItems", "ProductRating")';
    urlForm = '@Url.Action("AjaxForm", "ProductRating")';
    urlPostAction = '@Url.Action("Actions", "ProductRating")';
    urlView = '@Url.Action("AjaxView", "ProductRating")';
    formWidth = 960;
    formHeight = $(window).height() - 24;
    viewWidth = 960;
    viewHeight = $(window).height() - 24;

    $(document).ready(function () {
        initAjaxLoad(urlLists, "#NewsGriditems");

        $("#gridSearch").submit(function () {
            var form = $("#gridSearch");
            window.location.href = '#' + getValueFormMutilSelect(form);
            return false;
        });

        $("select.mutil").multiSelect({ oneOrMoreSelected: '*', selectAllText: '<b>Tất cả</b>', optGroupSelectable: true });
    });
</script>
<section id="content">
    <section class="hbox stretch">
        <aside>
            <section class="vbox">
                <header class="header bg-white b-b clearfix">
                    <ul class="breadcrumb no-border no-radius b-b b-light m-l-15x m-r-15x">
                        <li><a href="/Admin/Admin"><i class="fa fa-home"></i>Home</a></li>
                        <li class="active">Quản lý bài viết </li>
                    </ul>
                    <div class="row m-t-sm">
                        <div class="col-sm-11 m-b-xs">
                            <form id="gridSearch" class="form-inline" role="form">
                                <div class="form-group">
                                    <label class="sr-only" for="Keyword">Từ khóa tìm kiếm</label>
                                    <input type="text" class="form-control input-sm" id="Keyword" name="Keyword" placeholder="Từ khóa tìm kiếm">
                                </div>
                                <div class="form-group">
                                    <select name="SearchIn" id="SearchIn" class="form-control input-sm mutil">
                                        <option value="RateNote">Đánh giá</option>
                                    </select>
                                    <label>Khách hàng</label>
                                    <select name="CustomerID" id="CustomerID">
                                        <option value="0">Khách hàng</option>
                                        @foreach (var item in Model.ListItem)
                                        { 
                                            <option value="@item.ID">@item.UserName</option>
                                        }
                                    </select>
                                    <label>Sản phẩm</label>
                                    <select name="ProductID" id="ProductID">
                                        <option value="0">Sản phẩm</option>
                                        @foreach (var item in Model.ListProductItem)
                                        { 
                                            <option value="@item.ID">@item.Name</option>
                                        }
                                    </select>
                                </div>
                                <button name="submit.Search" type="submit" class="btn btn-sm btn-success">Tìm kiếm</button>
                            </form>
                        </div>
                        <div class="col-sm-1 m-b-xs">
                            @if (Model.SystemActionItem.Add)
                            {
                                @Html.ActionLink("Thêm mới", "Actions", new { }, new { @class = "btn btn-sm btn-success", @id = "btn_add" })
                            }
                        </div>
                    </div>
                </header>
                <section id="NewsGriditems" class="m-t-lg">
                </section>

            </section>
        </aside>
    </section>
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
</section>