@using FDI.Utils
@model IEnumerable<FDI.Simple.ShopCommentItem>
@helper Truncate(string
input, int length)
{
    if (input.Length <= length)
    {
    @input
    }
    else
    {
    @input.Substring(0, length)<text>...</text>
    }
}
@{
    ViewBag.Title = "danh sách bình luận";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        registerGridView('#gridItems');
    });


</script>
<section id="gridItems" class="vbox">
    <section class="scrollable wrapper w-f">
        <section class="panel panel-default">
            <table class="gridView" cellspacing="1">
                <tr>
                    <th><a href="#Field=ID">ID<span /></a></th>
                    <th style="width: 200px !important;"><span style="width: 200px;"><a href="#Field=">Sản phẩm được bình luận</a></span></th>
                    <th><a href="#Field=Name">Người gửi<span /></a></th>
                    <th><a href="#Field=Content">Nội dung<span /></a></th>
                    <th>H.Thị</th>
                    <th><a href="#Field=TotalReply">Trả lời<span /></a></th>
                    <th><a href="#Field=CommentLikeItem">Like<span /></a></th>
                    <th><a href="#Field=CommentReportItem">Report<span /></a></th>
                    <th><a href="#Field=CreateDate">Thời gian tạo<span /></a></th>
                    @if (ViewBag.View == true)
                    {
                        <th class="act_view"></th>
                    }
                    @if (ViewBag.Edit == true)
                    {
                        <th class="act_edit"></th>
                    }
                    @if (ViewBag.Show == true)
                    {
                        <th class="act_show">
                            <a href="#showAll" class="showAll" title="Hiển thị danh sách đã chọn">
                                <img src="/Content/Admin/images/gridview/show.gif" style="border: none" alt="Hiển thị danh sách đã chọn" />
                            </a>
                        </th>
                    }
                    @if (ViewBag.Hide == true)
                    {
                        <th class="act_hide">
                            <a href="#hideAll" class="hideAll" title="Ẩn danh sách đã chọn">
                                <img src="/Content/Admin/images/gridview/hide.gif" style="border: none" alt="Ẩn danh sách đã chọn" />
                            </a>
                        </th>
                    }
                    <th class="act_delete">
                        @if (ViewBag.Delete == true)
                        {
               
                            <a href="#deleteAll" class="deleteAll" title="Xóa danh sách đã chọn">
                                <img src="/Content/Admin/images/gridview/delete.gif" style="border: none" alt="Xóa danh sách đã chọn" />
                            </a>
                
                        }
                    </th>
                    <th class="act_roles">
                        <input value="" type="checkbox" class="checkAll" />
                    </th>
                </tr>
                @foreach (var item in Model)
                {
        
                    <tr title="@item.Title">
                        <td>@item.ID</td>
                        <td style="width: 150px;">@(item.Product.Name ?? "")</td>
                        <td>@Grid.DisplayShowStrike(item.Name, !item.IsActive.HasValue || item.IsActive.Value)</td>




                        @if (item.NgayTraLoi.HasValue)
                        {
                            if (item.DateCreated != null && FDI.Utility.CheckChamTraLoiComment(item.DateCreated.Value, item.NgayTraLoi.Value))
                            {
                            <td style="color: red">@HttpUtility.HtmlDecode(FDI.Utils.MyString.Truncate(FDIUtils.RemoveHTMLTag(item.Content), 50))</td>
                            }
                            else
                            {
                            <td>@HttpUtility.HtmlDecode(FDI.Utils.MyString.Truncate(FDIUtils.RemoveHTMLTag(item.Content), 50))</td>
                            }
                        }
                        else
                        {
                            <td>@HttpUtility.HtmlDecode(FDI.Utils.MyString.Truncate(FDIUtils.RemoveHTMLTag(item.Content), 50))</td>
                        }

                        <td>@Grid.DisplayShow(item.Title, !item.IsActive.HasValue || item.IsActive.Value)</td>

                        <td>@Html.DisplayFor(modelItem => item.TotalReply)</td>

                        <td>@(item.CommentLikeItem == null ? 0 : item.CommentLikeItem.Like)</td>
                        <td>@(item.CommentReportItem == null ? 0 : item.CommentReportItem.Report)</td>
                        <td>@Html.DisplayFor(modelItem => item.DateCreated)</td>
                        <td class="act_view">
                            @if (ViewBag.View == true)
                            {@Grid.ActionView(item.ID, item.Title)}
                        </td>
                        <td class="act_edit">@if (ViewBag.Edit == true)
                                             {@Grid.ActionEdit(item.ID, item.Title)}</td>
                        <td class="act_show">@if (ViewBag.Show == true)
                                             {@Grid.ActionShow(item.ID, item.Title, !item.IsActive.HasValue || item.IsActive.Value)
                                             }</td>
                        <td class="act_hide">@if (ViewBag.Hide == true)
                                             {@Grid.ActionHide(item.ID, item.Title, item.IsActive.HasValue || item.IsActive.Value)
                                             }</td>
                        <td class="act_delete">@if (ViewBag.Delete == true)
                                               {@Grid.ActionDelete(item.ID, item.Title)}</td>
                        <td class="act_roles">
                            <input type="checkbox" value="@item.ID" class="check" /></td>
                    </tr>
                }
            </table>

        </section>
    </section>
    <footer class="footer bg-white b-t portlet">
        <div class="row m-t-xs">
            @Html.Raw(ViewBag.PageHtml)
        </div>
    </footer>
</section>

