@model FDI.Base.Customer_Point
@{
    ViewBag.Title = ViewBag.ActionText + " chuyên mục khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {

        $("#CustomerPointForm").validate({
            rules: {
                Point:
                {
                    required: true,
                    min:0,
                    minlength: 1,
                    maxlength: 255
                }
            },
            messages: {
                Point: "Bạn cần điểm lớn hơn hoặc bằng 0"

            },
            submitHandler: function () { //onSubmit
                if ($('#ItemID').val() == "0") {
                    $('#do').val("Add");
                }
                $.post(urlPostPointAction, $("#CustomerPointForm").serialize(), function (data) {
                    if (data.Erros)
                        createMessage("Đã có lỗi xảy ra", data.Message); // Tạo thông báo lỗi
                    else {
                        $("#dialog-form").dialog('close'); //Đóng form thêm mới - sửa
                        createCloseMessage("Thông báo", data.Message, '#Page=1&itemId=' + data.ID + '&message=' + data.Message + '&temp=' + Math.floor(Math.random() * 11) + ''); // Tạo thông báo khi click đóng thì chuyển đến url đích
                    }
                });
                return false;
            }
        });

        $("#close").click(function () {
            $("#dialog-form").html("").dialog('close');
        });
    });
</script>

<div id="Order">
    <form id="CustomerPointForm">
        @Html.AntiForgeryToken()
        <input type="hidden" name="do" id="do" value="@ViewBag.Action"/>
        <input type="hidden" name="ItemID" id="ItemID" value="@Model.ID"/>
        <input type="hidden" name="CustomerID" id="CustomerID" value="@Model.CustomerID"/>
        <fieldset class="forms">
            <table class="tableforms" cellspacing="1" width="100%">
                <tr>
                    <td style="width:100px;"><label>Điểm</label></td>
                    <td>
                        @Html.EditorFor(model => model.Point)
                    </td>
                </tr>
                <tr>
                    <td style="width:100px;"><label>Chú ý</label></td>
                    <td>
                        @Html.TextAreaFor(model => model.Note)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button id="submit" type="submit" class="primaryAction">@ViewBag.ActionText</button>
                        <button id="reset" type="reset" class="primaryAction">Nhập lại</button>
                        <button id="close" type="button" class="primaryAction">Đóng lại</button>
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>