@model FDI.Simple.ModelProductItem

@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {
        registerGridView('#gridItems');
    });
</script>
<section id="gridItems" class="vbox">
    <section class="scrollable wrapper w-f">
        <section class="panel panel-default">
            <table class="gridView" cellspacing="1">
                <tr>
                    <th><a href="#Field=ID">ID<span /></a></th>
                    <th><a href="#Field=Name">Tên sản phẩm<span /></a></th>
                    <th><a href="#Field=Code">Mã sản phẩm<span /></a></th>
                    <th><a href="#Field=DisplayOrder">Thứ tự sắp xếp<span /></a></th>
                    <th><a href="#Field=DiscountID">Mã giảm giá<span /></a></th>
                    <th><a href="#Field=IsShow">Hiển thị<span /></a></th>
                    <th><a href="#Field=IsSlide">Slide<span /></a></th>
                    <th><a href="#Field=IsHot">Sản phẩm hot<span /></a></th>
                    <th><a href="#Field=IsShowOnHomePage">Hiển thị showpage<span /></a></th>
                    <th><a href="#Field=IsAllowRating">Cho phép đánh giá<span /></a></th>
                    <th><a href="#Field=IsAllowComment">Cho phép comment<span /></a></th>
                    <th class="act_edit"></th>
                    <th class="act_edit"></th>
                    <th class="act_edit"></th>
                    <th class="act_edit"></th>
                    <th class="act_edit"></th>
                    <th class="act_view"></th>
                    <th class="act_edit"></th>
                    <th class="act_view"></th>
                    <th class="act_show">
                        @if (Model.SystemActionItem.Show)
                        {
                            <a href="#showAll" class="showAll" title="Hiển thị danh sách đã chọn">
                                <img src="/Content/Admin/images/gridview/show.gif" style="border: none" alt="Hiển thị danh sách đã chọn" />
                            </a>
                        }
                    </th>
                    <th class="act_hide">
                        @if (Model.SystemActionItem.Hide)
                        {
                            <a href="#hideAll" class="hideAll" title="Ẩn danh sách đã chọn">
                                <img src="/Content/Admin/images/gridview/hide.gif" style="border: none" alt="Ẩn danh sách đã chọn" />
                            </a>
                        }
                    </th>
                    <th class="act_delete">
                        @if (Model.SystemActionItem.Delete)
                        {
                            <a href="#deleteAll" class="deleteAll" title="Xóa danh sách đã chọn">
                                <img src="/Content/Admin/images/gridview/delete.gif" style="border: none" alt="Xóa danh sách đã chọn" />
                            </a>
                        }
                    </th>
                    <th class="act_roles">
                        <input value="" type="checkbox" class="checkAll" />
                    </th>
                </tr>
                @if (Model.SystemActionItem.ViewFull)
                {
                    foreach (var item in Model.ListItem)
                    {
                    <tr data-id="@item.ID" title="@item.Name">
                        <td>@item.ID</td>
                        <td>@item.Name</td>
                        <td>@item.Code</td>
                        <td>@item.DisplayOrder</td>
                        <td>@item.DiscountID</td>
                        <td>@Grid.DisplayShow(item.Name, item.IsShow == true)</td>
                        <td>@Grid.DisplayShow(item.Name, item.IsSlide == true)</td>
                        <td>@Grid.DisplayShow(item.Name, item.IsHot == true)</td>
                        <td>@Grid.DisplayShow(item.Name, item.IsShowOnHomePage.HasValue && item.IsShowOnHomePage.Value)</td>
                        <td>@Grid.DisplayShow(item.Name, item.IsAllowRating == true)</td>
                        <td>@Grid.DisplayShow(item.Name, item.IsAllowComment == true)</td>
                        <td class="act_edit">
                            @if (Model.SystemActionItem.Add)
                            {
                                <a href="#" class="btnAdd-roductVariant" title="Thêm mới biến thế @item.Name" data-title="Thêm mới biến thế @item.Name" data-id="@item.ID">
                                    <img src="/Content/Admin/images/gridview/icon-variant.png" border="0" />
                                </a>
                            }
                        </td>
                        <td class="act_edit">
                            @if (Model.SystemActionItem.Add)
                            {
                             
                                <a href="#" class="accessories-product" data-name="@item.Name" data-id="@item.ID" title="Phụ kiện sản phẩm @item.Name">
                                    <img src="/Content/Admin/images/gridview/accessories.png" border="0" /></a>
                            }
                        </td>
                        <td class="act_edit">
                            @if (Model.SystemActionItem.Add)
                            {
                                <a href="#" class="ref-product" data-name="@item.Name" data-id="@item.ID" title="Sản phẩm liên quan @item.Name">
                                    <img src="/Content/Admin/images/gridview/refproduct.png" border="0" /></a>
                            }
                        </td>
                        <td class="act_edit">
                            @if (Model.SystemActionItem.Edit)
                            {
                                <a href="#" class="gallery-product" data-name="@item.Name" data-id="@item.ID" title="Hình ảnh @item.Name">
                                    <img src="/Content/Admin/images/gridview/gallery.png" border="0" /></a>
                            }
                        </td>
                        <td class="act_edit">
                            @if (Model.SystemActionItem.Edit)
                            {
                                <a href="#" class="attribute-product" title="Thông tin thuộc tính sản phẩm @item.Name" data-name="@item.Name" data-id="@item.ID" data-type="@item.ProductTypeID">
                                    <img src="/Content/Admin/images/gridview/attribute.png" border="0" /></a>
                            }
                        </td>
                        <td class="act_view">
                            @if (Model.SystemActionItem.View)
                            {
                                <a href="/@item.NameAscii" target="_blank" title="Xem nhanh sản phẩm @item.Name">
                                    <img src="/Content/Admin/images/gridview/preview.png" border="0" /></a>
                            }
                        </td>
                        <td class="act_view">
                            @if (Model.SystemActionItem.View)
                            {
                                @Grid.ActionView(item.ID, item.Name)
                            }
                        </td>
                        <td class="act_edit">
                            @if (Model.SystemActionItem.Edit)
                            {
                                @Grid.ActionEdit(item.ID, item.Name)
                            }
                        </td>
                        <td class="act_show">
                            @if (Model.SystemActionItem.Show)
                            {
                                @Grid.ActionShow(item.ID, item.Name, item.IsShow == true)
                            }
                        </td>
                        <td class="act_hide">
                            @if (Model.SystemActionItem.Hide)
                            {
                                @Grid.ActionHide(item.ID, item.Name, item.IsShow == true)
                            }
                        </td>
                        <td class="act_delete">
                            @if (Model.SystemActionItem.Delete)
                            {
                                @Grid.ActionDelete(item.ID, item.Name)
                            }
                        </td>
                        <td class="act_roles">
                            <input type="checkbox" value="@item.ID" class="check" /></td>
                    </tr>
                    }
                }
            </table>
        </section>
    </section>
    <footer class="footer bg-white b-t portlet">
        <div class="row m-t-xs">
            @Html.Raw(Model.PageHtml)
        </div>
    </footer>
</section>

<script type="text/javascript">
    function OpenInNewTab(url) {
        var win = window.open(url, '_blank');
        win.focus();
    }
</script>
