@model FDI.Base.News_Comment
@{
    ViewBag.Title = ViewBag.ActionText + " reply";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}
<script type="text/javascript">
    $(function () {

      
        LoadCKEDITOR('NewContent', true);
        $("#CommentReplyForm").validate({
            rules: {
                Name:
                {
                    required: true,
                    minlength: 3,
                    maxlength: 255
                },
                Email:
               {
                   required: true,
                   email: true,
                   minlength: 3,
                   maxlength: 150
               },
            },
            submitHandler: function () { //onSubmit
                updateEditor();
                $("#Name").removeAttr('disabled');
                $("#Email").removeAttr('disabled');
                $.post(urlPostAnswer, $("#CommentReplyForm").serialize(), function (data) {
                    if (data.Erros)
                        createMessage("Đã có lỗi xảy ra", data.Message); // Tạo thông báo lỗi
                    else {
                        $("#dialog-form-2").dialog('close'); //Đóng form thêm mới - sửa

                        $("#dialog-form").dialog(
				            {
				                title: "Xem nội dung bình luận: @ViewBag.NewsComment.Title",
				                width: formWidth,
				                height: formHeight
				            }
			            ).load(encodeURI(urlView + "?itemId=@ViewBag.NewsComment.ID")).dialog("open");
                        var Page = $("input[name=page]").val();
                        var RowPerPage = $(".bottom-pager select").val();
                        createCloseMessage("Thông báo", data.Message, '#itemId=' + data.ID + '&Page=' + Page + '&RowPerPage=' + RowPerPage + '&message=' + data.Message + '&temp=' + Math.floor(Math.random() * 11) + ''); // Tạo thông báo khi click đóng thì chuyển đến url đích
                    }
                });
                return false;
            }
        });

        $("#close").click(function () {
            $("#dialog-form-2").html("").dialog('close');
        });
    });
</script>

<form id="CommentReplyForm">
    
    <input type="hidden" name="do" id="do" value="@ViewBag.Action"/>
    <input type="hidden" name="ItemID" id="ItemID" value="@Model.ID"/>
    <input type="hidden" name="NewsCommentID" id="NewsCommentID" value="@ViewBag.NewsComment.ID"/>
    <input type="hidden" name="NewsID" id="NewsID" value="@ViewBag.NewsComment.NewsID"/>
    <input type="hidden" name="CustomerID" id="CustomerID" value="@ViewBag.Customer.ID"/>
    <fieldset class="forms">
        <table class="tableforms" cellspacing="1" width="100%">
            <tr>
                <td style="width:120px;" class="label"><label>Tiêu đề bài viết</label></td>
                <td>
                    <input name="Title" id="Title" value="@ViewBag.NewsComment.Title" readonly=""/>
                   
                    
                </td>
            </tr>

            <tr>
                <td class="label"><label>Nội dung bình luận</label></td>
                <td>
                   @*<textarea id="Content" name="Content" readonly="">@ViewBag.NewsComment.Content</textarea>*@
                    <div>@Html.Raw(ViewBag.NewsComment.Content)</div>
                    
                </td>
            </tr>

           <tr>
                <td><label>Họ và tên<span class="star">*</span></label></td>
                <td>
                    <input disabled="disabled" type="text" name="Name" id="Name" value="@ViewBag.Customer.UserName"/>
                </td>
            </tr>
            <tr>
                <td><label>Email<span class="star">*</span></label></td>
                <td>
                    <input disabled="disabled" type="text" name="Email" id="Email" value="@ViewBag.Customer.Email"/>
                </td>
            </tr>
            <tr>
                <td><label>Hiển thị</label></td>
                <td>
                    <input type="checkbox" name="IsShow" id="IsShow" value="True" @((Model.IsShow.HasValue&& Model.IsShow.Value) ? " checked" : string.Empty)/>
                </td>
            </tr>
            
            <tr>
                <td><label>Nội dung trả lời<span class="star">*</span></label></td>
                <td>
                    <textarea rows="8" id="NewContent" name="Content">@Model.Content </textarea>
                </td>
            </tr>

            <tr>
                <td class="submit" colspan="2">
                    <button id="submit" type="submit" class="primaryAction">@ViewBag.ActionText</button>
                    <button id="reset" type="reset" class="primaryAction">Nhập lại</button>
                    <button id="close" type="button" class="primaryAction">Đóng lại</button>
                </td>
            </tr>
        </table>
    </fieldset>
</form>