@using FDI.Utils
@model FDI.Simple.ModelNewsCommentItem

@{
    ViewBag.Title = "ListQuestion";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        registerGridView('#gridItems');
    });
</script>
<section id="gridItems" class="vbox">
    <section class="scrollable wrapper w-f">
        <section class="panel panel-default">
            <table class="gridView" cellspacing="1">
                <tr>
                    <th><a href="#Field=ID">ID<span /></a></th>
                    <th><a href="#">Chuyên mục tin<span /></a></th>
                    <th><a href="#">Tiêu đề tin<span /></a></th>
                    <th><a href="#Field=Email">Email<span /></a></th>
                    <th><a href="#Field=Content">Nội dung<span /></a></th>
                    <th>H.Thị</th>
                    <th><a href="#Field=TotalReply">Trả lời<span /></a></th>
                    <th><a href="#Field=CommentLikeItem">Like<span /></a></th>
                    <th><a href="#Field=CommentReportItem">Report<span /></a></th>

                    <th class="act_view"></th>
                    <th class="act_edit"></th>
                    <th class="act_show">
                        @if (Model.SystemActionItem.Show)
                        {
                            <a href="#showAll" class="showAll" title="Hiển thị danh sách đã chọn">
                                <img src="/Content/Admin/images/gridview/show.gif" style="border: none" alt="Hiển thị danh sách đã chọn" />
                            </a>
                        }
                    </th>
                    <th class="act_hide">
                        @if (Model.SystemActionItem.Hide)
                        {
                            <a href="#hideAll" class="hideAll" title="Ẩn danh sách đã chọn">
                                <img src="/Content/Admin/images/gridview/hide.gif" style="border: none" alt="Ẩn danh sách đã chọn" />
                            </a>
                        }
                    </th>
                    <th class="act_delete">
                        @if (Model.SystemActionItem.Delete)
                        {
                            <a href="#deleteAll" class="deleteAll" title="Xóa danh sách đã chọn">
                                <img src="/Content/Admin/images/gridview/delete.gif" style="border: none" alt="Xóa danh sách đã chọn" />
                            </a>
                        }
                    </th>
                    <th class="act_roles">
                        <input value="" type="checkbox" class="checkAll" />
                    </th>
                </tr>

                @if (Model.SystemActionItem.ViewFull)
                {
                    foreach (var item in Model.ListItem)
                    {

                    <tr title="@item.Title">
                        <td>@item.ID</td>
                        <td>
                            @{
                        var newsCategoryItem = item.NewsItem.IEnumerableNewsCategory.FirstOrDefault();
                            }
                            @if (newsCategoryItem != null)
                            {
                                @(item.NewsItem == null ? "" : newsCategoryItem.Name)
                            }</td>
                        <td>@(item.NewsItem == null ? "" : item.NewsItem.Title)</td>
                        <td>@item.Email</td>

                        <td>@HttpUtility.HtmlDecode(FDI.Utils.MyString.Truncate(FDIUtils.RemoveHTMLTag(item.Content), 50))</td>
                        <td>@Grid.DisplayShow(item.Title, item.IsShow)</td>

                        <td>@Html.DisplayFor(modelItem => item.TotalReply)</td>

                        <td>@(item.CommentLikeItem == null ? 0 : item.CommentLikeItem.Like)</td>
                        <td>@(item.CommentReportItem == null ? 0 : item.CommentReportItem.Report)</td>
                        <td class="act_view">
                            @if (Model.SystemActionItem.Edit)
                            {
                                @Grid.ActionView(item.ID, item.Title)
                            }
                        </td>
                        <td class="act_edit">
                            @if (Model.SystemActionItem.Show)
                            {
                                @Grid.ActionEdit(item.ID, item.Title)
                            }
                        </td>
                        <td class="act_show">
                            @if (Model.SystemActionItem.Show)
                            {
                                @Grid.ActionShow(item.ID, item.Title, item.IsShow)
                            }
                        </td>
                        <td class="act_hide">
                            @if (Model.SystemActionItem.Hide)
                            {
                                @Grid.ActionHide(item.ID, item.Title, !item.IsShow)
                            }
                        </td>
                        <td class="act_delete">
                            @if (Model.SystemActionItem.Delete)
                            {
                                @Grid.ActionDelete(item.ID, item.Title)
                            }
                        </td>
                        <td class="act_roles">
                            <input type="checkbox" value="@item.ID" class="check" /></td>
                    </tr>

                    }
                }
            </table>
        </section>
    </section>
    <footer class="footer bg-white b-t portlet">
        <div class="row m-t-xs">
            @Html.Raw(ViewBag.PageHtml)
        </div>
    </footer>
</section>