@model FDI.Base.System_Tag
@{
    ViewBag.Title = ViewBag.ActionText + " từ khóa";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}
<script type="text/javascript">
    $(function () {

        var urlSelectCategory = '@Url.Action("AjaxTreeSelectForTag", "ProductCategory", new { @Container = "CategoryValues", @SelectMutil = "True" })';

        $("#selectCategory").click(function () {
            var valuesSelected = $("#Value_CategoryValues").val();
            $("#dialog-form-2").dialog(
                {
                    title: "Chọn danh mục sản phẩm",
                    width: 600,
                    height: 500
                }
            ).load(encodeURI(urlSelectCategory + "&ValuesSelected=" + valuesSelected)).dialog("open");
            return false;
        });

        $("#SystemTagForm").validate({
            rules: {
                Name:
                    {
                        required: true,
                        minlength: 3,
                    },
                Weight: {
                    min: 1,
                    max: 10
                },
            },
            messages: {
                Weight: "level tối đa là 10, tối thiểu là 1"
            },
            submitHandler: function () { //onSubmit
                $.post(urlPostAction, $("#SystemTagForm").serialize(), function (data) {
                    if (data.Erros)
                        createMessage("Đã có lỗi xảy ra", data.Message); // Tạo thông báo lỗi
                    else {
                        $("#dialog-form").dialog('close'); //Đóng form thêm mới - sửa
                        createCloseMessage("Thông báo", data.Message, '#Page=1&itemId=' + data.ID + '&message=' + data.Message + '&temp=' + Math.floor(Math.random() * 11) + ''); // Tạo thông báo khi click đóng thì chuyển đến url đích
                    }
                });
                return false;
            }
        });
        $("#close").click(function () {
            $("#dialog-form").html("").dialog('close');
        });
    });
</script>


<form id="SystemTagForm">
    <input type="hidden" name="do" id="do" value="@ViewBag.Action"/>
    <input type="hidden" name="ItemID" id="ItemID" value="@Model.ID"/>
    <div class="col-sm-12">
        <section class="panel panel-default">
            <header class="panel-heading font-bold">Thông tin về từ khóa</header>
            <div class="panel-body">
                <div class="bs-example form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Tên từ khóa</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" placeholder="..." name="Name" @(ViewBag.Action.ToString().Equals("Add") ? "class=autoPermalink" : "") id="Name"  value="@Model.Name"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Level</label>
                        <div class="col-lg-10">
                            <input type="text" name="Weight" id="Weight" value="@Model.Weight" class="form-control"  placeholder="..." />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Link</label>
                        <div class="col-lg-10">
                            <input type="text" name="Link" id="Link" value="@Model.Link" class="form-control"  placeholder="..." />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Danh mục</label>
                        <div class="col-lg-10">
                            <input type="hidden"   name="Value_CategoryValues" id="Value_CategoryValues" value="@(Model.Shop_Category_Tag_Mapping.Any() ? string.Join(",", Model.Shop_Category_Tag_Mapping.Select(c => c.Shop_Category != null ? c.Shop_Category.Name : "")) : "")" />
                            <button id="selectCategory" class="btn btn-sm btn-success" type="button" >Chọn danh mục sản phẩm</button>
                            <div id="Text_CategoryValues" class="checkBoxValues">@(Model.Shop_Category_Tag_Mapping.Any() ? string.Join(",", Model.Shop_Category_Tag_Mapping.Select(c => c.Shop_Category != null ? c.Shop_Category.Name : "")) : "")</div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>

    <div style="display: none;">
        <button id="btnSave" type="submit" class="btn btn-sm btn-success">@ViewBag.ActionText</button>
        <button id="btnReset" type="reset" name="reset" class="btn btn-sm btn-success">Nhập lại</button>
        <button id="close" type="button" class="btn btn-sm btn-success">Đóng lại</button>
    </div>
</form>
